/**
 * Carte interactive de l'infographie à destination de Dentsu Aegis
 * et Yves Rocher, qui remplace l'habituel bloc "qu'est-ce qu'on fait ? " .
 */

body { background-color: #3dacae !important; }
#carte_interactive {

    position: relative;

    #intro_carte {

        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        background-color: rgba(#cae1e6, 0.7);
        width: 100%;
        height: 100%;
        z-index: 10000;

        &:hover {
            cursor: pointer;
        }

        #intro-wrapper {
            background-color: rgba(#0e363e, 0.95);
            width: 80%;
            position: absolute;
            top: 10%;
            left: 10%;
            padding: 7vw 0;

            .content {
                width: 80%;
                margin: 0 auto;
                text-align: left;
                color: #44bb53;
                text-transform: uppercase;
            	font-family: chaletcomprime;
                font-size: 3vw;

                span {
                    color: white;
                }

                .descript {
                    text-transform: none;
                }
            }
        }
    }


    .popup {

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        background-color: rgba(#0e363f, 0.7);
        width: 100%;
        height: 100%;
        z-index: 100;
        display: none;

        .popup_wrapper {
            position: absolute;
            width: 50%;

            .adj {
                font-size: 4vw;
                color: white;
                position: absolue;
            }
            .titre {
                font-size: 3vw;
                color: white;
                position: absolue;
                line-height: 1em;
            }
            .description {
                color: white;
                font-size: 1.3vw;
                font-family: circular;
                font-weight: normal !important;
                font-style: normal !important;
            }
            .voir{
                &:hover {
                    cursor: pointer;
                }
            }
            .compteur {
                .compteur_popup_plus, .compteur_popup_moins {
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                }
            }
        }

        &#popup_france {

            .popup_wrapper {

                top: 9%;
                left: 19%;

                .adj {
                    position: absolute;
                    top: 50%;
                    left: 33%;
                }
                .titre {
                    color: #754c24;
                    position: absolute;
                    top: 50%;
                    left: 60%;
                }
                .description {
                    position: absolute;
                    color: #754c24;
                    width: 40%;
                    top: 73%;
                    left: 60%;
                    line-height: 1em;
                    font-size: 1.3vw;
                }

                .voir {
                	color: #754c24;
                	padding: 0.5vw 1vw 0vw;
                	border: 2px solid white;
                    background-color: #d9c9a8;
                	margin-top: 0;
                    font-size: 3vw;
                    position: absolute;
                    right: 0%;
                    bottom: -7%;
                    text-align: left;

                	&:hover {
                		text-decoration: none;
                		color: #754c24;
                		border: 2px solid #754c24;
                		background-color: white;
                        cursor: pointer;
                	}
                }
                .compteur {
                    width: 8%;
                    position: absolute;
                    left: 100%;
                    bottom: -12%;

                    .chiffre {
                        color: #754c24;
                        background-color: white;
                        text-align: center;
                        font-size: 2vw;
                        padding: 0.3vw 0;
                        border: 5px solid #efeacc;
                        -moz-box-shadow: 0px 0px 0px 2px #656565;
                        -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
                        -o-box-shadow: 0px 0px 0px 2px #ffffff;
                        box-shadow: 0px 0px 0px 2px #ffffff;
                        filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=0);
                    }
                    .plus, .moins {
                        margin: 0 auto;
                        width: 70%;
                        text-align: center;
                        background-color: #d9c9a8;
                        border: 2px solid white;
                        border-radius: 50%;
                        font-size: 2vw;
                        padding: 0.06vw 0;
                        color: #754c24;

                        -moz-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;

                        &:hover {
                            cursor: pointer;
                            border-color: #754c24;
                        }
                    }
                }
            }
        } // #popup_france
        &#popup_ethiopie {

            .popup_wrapper {

                top: 37%;
                left: 29%;

                .adj {
                    position: absolute;
                    top: 48%;
                    left: 44%;
                }
                .titre {
                    color: white;
                    position: absolute;
                    top: 30%;
                    left: 63%;
                }
                .description {
                    position: absolute;
                    color: white;
                    width: 35%;
                    top: 59%;
                    left: 63%;
                    line-height: 1em;
                    font-size: 1.4vw;
                }

                .voir {
                	color: white;
                	padding: 0.5vw 1vw 0vw;
                	border: 2px solid white;
                    background-color: #8c6339;
                	margin-top: 0;
                    font-size: 3vw;
                    position: absolute;
                    right: 0%;
                    bottom: -8%;
                    text-align: left;

                	&:hover {
                		text-decoration: none;
                		color: #8c6339;
                		border: 2px solid #8c6339;
                		background-color: white;
                        cursor: pointer;
                	}
                }
                .compteur {
                    width: 8%;
                    position: absolute;
                    left: 100%;
                    bottom: -12%;

                    .chiffre {
                        color: #754d24;
                        background-color: white;
                        text-align: center;
                        font-size: 2vw;
                        padding: 0.3vw 0;
                        border: 5px solid #d8c8a7;
                        -moz-box-shadow: 0px 0px 0px 2px #ffffff;
                        -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
                        -o-box-shadow: 0px 0px 0px 2px #ffffff;
                        box-shadow: 0px 0px 0px 2px #ffffff;
                        filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=0);
                    }
                    .plus, .moins {
                        margin: 0 auto;
                        width: 70%;
                        text-align: center;
                        background-color: #d8c8a7;
                        border: 2px solid white;
                        border-radius: 50%;
                        font-size: 2vw;
                        padding: 0.03vw 0;
                        color: #754d24;

                        &:hover {
                            cursor: pointer;
                            border-color: #754d24;
                        }
                    }
                }
            }
        } // #popup_ethiopie
        &#popup_mexique {

            .popup_wrapper {

                top: 20.6%;
                left: 0%;
                width: 65%;

                .adj {
                    position: absolute;
                    top: 52%;
                    left: 54%;
                }
                .titre {
                    color: #4d4d4d;
                    position: absolute;
                    top: 37%;
                    left: 23.6%;
                }
                .description {
                    position: absolute;
                    color: white;
                    width: 29%;
                    top: 60%;
                    left: 23.6%;
                    line-height: 1em;
                    font-size: 1.4vw;
                }

                .voir {
                	color: white;
                	padding: 0.5vw 1vw 0vw;
                	border: 2px solid white;
                    background-color: #8c6239;
                	margin-top: 0;
                    font-size: 3vw;
                    position: absolute;
                    left: 43%;
                    bottom: -8%;
                    text-align: left;

                	&:hover {
                		text-decoration: none;
                		color: #8c6239;
                		border: 2px solid #8c6239;
                		background-color: white;
                        cursor: pointer;
                	}
                }
                .compteur {
                    width: 6%;
                    position: absolute;
                    left: 57%;
                    bottom: -13%;

                    .chiffre {
                        color: #8c6239;
                        background-color: white;
                        text-align: center;
                        font-size: 2vw;
                        padding: 0.3vw 0;
                        border: 5px solid #d8c8a7;
                        -moz-box-shadow: 0px 0px 0px 2px #ffffff;
                        -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
                        -o-box-shadow: 0px 0px 0px 2px #ffffff;
                        box-shadow: 0px 0px 0px 2px #ffffff;
                        filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=0);
                    }
                    .plus, .moins {
                        margin: 0 auto;
                        width: 70%;
                        text-align: center;
                        background-color: #d8c8a7;
                        border: 2px solid white;
                        border-radius: 50%;
                        font-size: 2vw;
                        padding: 0.0vw 0;
                        color: #8c6239;

                        &:hover {
                            cursor: pointer;
                            border-color: #8c6239;
                        }
                    }
                }
            }
        } // #popup_mexique
        &#popup_burkina {

            .popup_wrapper {

                top: 30.3%;
                left: 30.7%;
                width: 65%;

                .adj {
                    position: absolute;
                    top: 45%;
                    left: 50%;
                }
                .titre {
                    color: white;
                    position: absolute;
                    top: 37%;
                    left: 23.4%;
                }
                .description {
                    position: absolute;
                    color: white;
                    width: 25%;
                    top: 57%;
                    left: 23.4%;
                    line-height: 1em;
                    font-size: 1.3vw;
                }

                .voir {
                	color: white;
                	padding: 0.5vw 1vw 0vw;
                	border: 2px solid white;
                    background-color: #007a51;
                	margin-top: 0;
                    font-size: 3vw;
                    position: absolute;
                    left: 35%;
                    bottom: -9%;
                    text-align: left;

                	&:hover {
                		text-decoration: none;
                		color: #007a51;
                		border: 2px solid #007a51;
                		background-color: white;
                        cursor: pointer;
                	}
                }
                .compteur {
                    width: 6%;
                    position: absolute;
                    left: 55.7%;
                    bottom: -15%;

                    .chiffre {
                        color: #8c6239;
                        background-color: white;
                        text-align: center;
                        font-size: 2vw;
                        padding: 0.3vw 0;
                        border: 5px solid #d8c8a7;
                        -moz-box-shadow: 0px 0px 0px 2px #ffffff;
                        -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
                        -o-box-shadow: 0px 0px 0px 2px #ffffff;
                        box-shadow: 0px 0px 0px 2px #ffffff;
                        filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=0);
                    }
                    .plus, .moins {
                        margin: 0 auto;
                        width: 70%;
                        text-align: center;
                        background-color: #d8c8a7;
                        border: 2px solid white;
                        border-radius: 50%;
                        font-size: 2vw;
                        padding: 0.0vw 0;
                        color: #8c6239;

                        &:hover {
                            cursor: pointer;
                            border-color: #8c6239;
                        }
                    }
                }
            }
        } // #popup_burkina
        &#popup_inde {

            .popup_wrapper {

                top: 33%;
                left: 36%;
                width: 55%;

                .adj {
                    position: absolute;
                    top: 48%;
                    left: 44%;
                }
                .titre {
                    color: white;
                    position: absolute;
                    top: 43%;
                    left: 64%;
                }
                .description {
                    position: absolute;
                    color: white;
                    width: 35%;
                    top: 62%;
                    left: 64%;
                    line-height: 1em;
                    font-size: 1.4vw;

                }

                .voir {
                	color: white;
                	padding: 0.5vw 1vw 0vw;
                	border: 2px solid white;
                    background-color: #44bb53;
                	margin-top: 0;
                    font-size: 3vw;
                    position: absolute;
                    right: -3%;
                    bottom: -11%;
                    text-align: left;

                	&:hover {
                		text-decoration: none;
                		color: #44bb53;
                		border: 2px solid #44bb53;
                		background-color: white;
                        cursor: pointer;
                	}
                }
                .compteur {
                    width: 7%;
                    position: absolute;
                    right: -10%;
                    bottom: -16%;

                    .chiffre {
                        color: #8c6239;
                        background-color: white;
                        text-align: center;
                        font-size: 2vw;
                        padding: 0.3vw 0;
                        border: 5px solid #d8c8a7;
                        -moz-box-shadow: 0px 0px 0px 2px #ffffff;
                        -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
                        -o-box-shadow: 0px 0px 0px 2px #ffffff;
                        box-shadow: 0px 0px 0px 2px #ffffff;
                        filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=0);
                    }
                    .plus, .moins {
                        margin: 0 auto;
                        width: 70%;
                        text-align: center;
                        background-color: #d8c8a7;
                        border: 2px solid white;
                        border-radius: 50%;
                        font-size: 2vw;
                        padding: 0vw 0.02vw;
                        color: #8c6239;

                        &:hover {
                            cursor: pointer;
                            border-color: #8c6239;
                        }
                    }
                }
            }
        } // #popup_inde
        &#popup_allemagne {
            .popup_wrapper {

                top: 9.5%;
                left: 14.4%;
                width: 55%;

                .adj {
                    position: absolute;
                    top: 51%;
                    left: 40%;
                }
                .titre {
                    color: white;
                    position: absolute;
                    top: 43%;
                    left: 68.5%;
                }
                .description {
                    position: absolute;
                    color: white;
                    width: 30%;
                    top: 66%;
                    left: 68.5%;
                    line-height: 1em;
                }

                .voir {
                	color: white;
                	padding: 0.5vw 1vw 0vw;
                	border: 2px solid white;
                    background-color: #45869c;
                	margin-top: 0;
                    font-size: 3vw;
                    position: absolute;
                    right: 2%;
                    bottom: -4%;
                    text-align: left;

                	&:hover {
                		text-decoration: none;
                		color: #45869c;
                		border: 2px solid #45869c;
                		background-color: white;
                        cursor: pointer;
                	}
                }
                .compteur {
                    width: 7%;
                    position: absolute;
                    right: -5%;
                    bottom: -9%;

                    .chiffre {
                        color: #8c6239;
                        background-color: white;
                        text-align: center;
                        font-size: 2vw;
                        padding: 0.3vw 0;
                        border: 5px solid #d8c8a7;
                        -moz-box-shadow: 0px 0px 0px 2px #ffffff;
                        -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
                        -o-box-shadow: 0px 0px 0px 2px #ffffff;
                        box-shadow: 0px 0px 0px 2px #ffffff;
                        filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=0);
                    }
                    .plus, .moins {
                        margin: 0 auto;
                        width: 70%;
                        text-align: center;
                        background-color: #d8c8a7;
                        border: 2px solid white;
                        border-radius: 50%;
                        font-size: 2vw;
                        padding: 0.0vw 0;
                        color: #8c6239;

                        &:hover {
                            cursor: pointer;
                            border-color: #8c6239;
                        }
                    }
                }
            }
        } // #popup_allemagne
    }


    &>.voeux {
        position: absolute;
        z-index: 3;

        h1 {
            font-size: 2.3vw;
        }

        &.voeux_allemagne {
            top: 30%;
            left: 50.5%;
            color: #3bacb0;
        }
        &.voeux_burkina {
            top: 46.5%;
            left: 42.5%;
            color: #007a51;
        }
        &.voeux_mexique {
            top: 42.5%;
            left: 2%;
            color: #4d4d4e;
        }
        &.voeux_inde {
            top: 43%;
            left: 66%;
            color: #009447;
        }
        &.voeux_france {
            top: 31%;
            left: 36%;
            color: #eee9cb;
        }
        &.voeux_ethiopie {
            top: 54%;
            left: 51%;
            color: #754d24;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &>.bouton {
        position: absolute;
        width: 2.5%;
        z-index: 3;

        &.zindex {
            z-index: 101;
        }

        &.bouton_allemagne {
            top: 28%;
            left: 47%;
        }
        &.bouton_burkina {
            top: 52%;
            left: 41%;
        }
        &.bouton_mexique {
            top: 44.5%;
            left: 11%;
        }
        &.bouton_inde {
            top: 50%;
            left: 66.7%;
        }
        &.bouton_france {
            top: 30%;
            left: 44%;
        }
        &.bouton_ethiopie {
            top: 53%;
            left: 55.5%;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &>.arbre {
        position: absolute;
        z-index: 1;

        &.arbre_allemagne {
            top: 17%;
            left: 46%;
            width: 10%;
        }
        &.arbre_burkina {
            top: 42%;
            left: 35%;
            width: 10%;
        }
        &.arbre_mexique {
            top: 31%;
            left: 6%;
            width: 8%;
        }
        &.arbre_inde {
            top: 32%;
            left: 61%;
            width: 10%;
        }
        &.arbre_france {
            top: 21%;
            left: 40.5%;
            width: 6%;
        }
        &.arbre_ethiopie {
            top: 39%;
            left: 50%;
            width: 10%;
        }
    }


} // #carte_interactive
