// Intro //

/*
 * @author Gaulthier Volondat
 * @author Maxime Emorine
 */
.wrap-header {
    background: url("../images/feuille.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;

    padding-top: 20vw;
    padding-bottom: 5vw;

    .introduction {

        width: 70%;
        margin: 0 auto;

        @include xs {
            width: 85%;
        }

        header {

            padding: 3vw 0;

            img {
              width: 5.859375vw;
              @include xs {
                margin: 0 auto;
                width: 15vw;
              }
            }
            h1 {
                position: relative;
                top: 1.015625vw;
                @include xs {
                    text-align: center;
                    font-size: 12vw;
                }
            }
        }

        h1, img {
            display: inline-block;
                @include xs {
                    display: block;
                }
        }


        .titre-defo {
            font-size: 7.03125vw;
            font-family: 'chaletcomprime';
            color : #45BC54;
            line-height: 1;
            text-transform: uppercase;

            @include xs {
              font-size: 10vw;
              text-align: center;
            }
        }

        .text-defo {
          font-size: 2vw;
          padding-top: 2vw;

          @include xs {
            font-size: 6vw;
            padding-top: 0;
          }
        }
    }

}



/*#feuille {
  position: relative;
}*/

// header

/*
#intro {
    margin-top: 20px;
    text-align: center;

    h2 {
        font-size: 30px;
        color: $text-color;
    }

    h1.titre-infographie{
        font-size: 60px;
        color: $primary-color;
    }

    h1.problematique {
        color: $primary-color;
        font-size: 40px;
        border-bottom: 3px solid $primary-color;
        padding-bottom: 20px;
    }

    p {
        text-align: left;
        color: $text-color;
        margin: 20px 0;
    }
} // #intro */




/**
 * @author Maxime Emorine
 */
#quantite_foret_1 {
    margin-top: 1vw;
    position: relative;

    img {
        &.mobile {
            display: none;
            @include xs {display: block;}
        }
        &.desktop {
            @include xs {display:none}
        }
    }

    .content {
        width: 60%;
        position: absolute;
        left: 40%;
        top: 5%;
        color: white;

        @include xs {
            width: 100%;
            left: 0;
            padding: 0 4vw;

            &>p {
                font-size: 8vw;
            }
        }

        .titre, .droit {
            display: inline-block;
            vertical-align: middle;

            @include xs {
                display: block;
            }
        }

        .titre {
            font-size: 30vw;

            @include xs {
                font-size: 100vw;
                text-align: center;
                margin-top: 0vw;
            }
        }
        .droit {
            p {
                &.top {
                    @include xs {
                        width:35%;
                        margin-left: 60%;
                        font-size: 7vw;
                        margin-top: -20vw;
                    }
                }
                &.bottom {
                    margin-left: 5vw;
                    @include xs {
                        margin-left: 0;
                        font-size: 7vw;
                        margin-top: 5vw;
                    }
                }
            }
        }
    }
}
#quantite_foret_2 {
    margin-top: 1vw;
    position: relative;

    @include xs {
        margin-top: 0;
    }

    img {
        &.mobile {
            display: none;
            @include xs {display: block;}
        }
        &.desktop {
            @include xs {display:none}
        }
    }

    .content {
        width: 60%;
        position: absolute;
        left: 40%;
        top: 5%;
        color: white;

        @include xs {
            width: 100%;
            left: 0;
            padding: 0 4vw;

            &>p {
                font-size: 8vw;
            }
        }

        .titre, .droit {
            display: inline-block;
            vertical-align: middle;

            @include xs {
                display: block;
            }
        }

        .titre {
            font-size: 25vw;

            @include xs {
                font-size: 80vw;
                text-align: center;
                margin-top: 10vw;
            }
        }
        .droit {
            p {
                @include xs {
                    width:35%;
                    margin-left: 60%;
                    font-size: 7vw;
                    margin-top: -15vw;
                }
            }
        }
    }
}


/**
 * @author Maxime Emorine
 */
#nombre_arbre_homme {
    margin-top: -1px;

    .desktop {
        position: relative;
        color: white;

        @include xs {
            display: none;
        }

        .texte1 {
            position: absolute;
            top: 3%;
            left: 2%;
            width: 40%;

            h1 {
                text-align: center;
                font-size: 20vw;
            }
            p.bottom {
                margin-left: 55%;
                margin-top: -4vw;
            }
        }
        .texte2 {
            position: absolute;
            bottom: 27%;
            left: 40%;
            width: 25%;

            h1 {
                text-align: center;
                font-size: 10vw;
            }
            p.bottom {
                margin-left: 38%;
                margin-top: -2vw;
                font-size: 1.5vw;
            }
        }
        .texte3 {
            position: absolute;
            bottom: 21%;
            left: 72%;
            width: 15%;

            h1 {
                text-align: left;
                font-size: 6vw;
            }
            p.bottom {
                margin-left: 0%;
                margin-top: -1vw;
                font-size: 1.2vw;
            }
        }

        .dates {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;

            .date {
                display: inline-block;

                h2 {
                    font-size: 5vw;
                    color: $primary-color;
                    text-align: center;
                }

                &.date1 {
                    width: 45%;
                }
                &.date2 {
                    width: 16%;
                }
                &.date3 {
                    width: 25%;
                    h2{text-align: right;}
                }
            }
        }
    }

    .mobile {

        display: none;
        color: white;

        @include xs {
            display: block;

        }


        .top {
            position: relative;
            .content {
                position: absolute;
                width: 80%;
                top: 5%;
                left: 10%;

                h1 {
                    text-align: center;
                    font-size: 55vw;
                }
                p.bottom {
                    margin-left: 55%;
                    margin-top: -10vw;
                }
            }
        }
        .middle {
            position: relative;
            .content {
                position: absolute;
                width: 50%;
                top: 30%;
                left: 25%;

                h1 {
                    text-align: left;
                    font-size: 30vw;
                }
                p.bottom {
                    margin-left: 12%;
                    margin-top: -7vw;
                    font-size: 4vw;
                }
            }
        }
        .bottom {
            position: relative;
            .content {
                position: absolute;
                width: 40%;
                top: 20%;
                left: 35%;

                h1 {
                    text-align: left;
                    font-size: 25vw;
                }
                p.bottom {
                    margin-left: 2%;
                    margin-top: -5vw;
                    font-size: 3vw;
                }
            }
        }
    }

    .transition {
        color: $primary-color;
        padding: 3vw;
    }
}

/**
 * @author Gaulthier Volondat
 */

#nombre_hectare {

    @include xs {
        display: none;
    }


    border-bottom: 2px solid white;
    .nb_total {
        width: 100%;
        background-color: rgba(117, 76, 36, 0.78);

        h4 {
            color: #fff;
            font-family: 'chaletcomprime';
            font-size: 7.8125vw;
            text-align: center;
            text-transform: uppercase;
            padding-top: 15px;
        }
    }

    .box-defo {
        position: relative;
        height: 23vw;

        @include xs {
            height : auto;
        }
        &>img.timeline {
            display: none;

            @include xs {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: auto;
                z-index: 1000;
            }
        }


        .date-chiffre {
            position: absolute;
            width: 100%;
            z-index: 200;
            top: 1.5vw;

            @include xs {
                display: none;
            }

            li {
                display: inline;
                color: #fff;
                font-family: 'chaletcomprime';
                font-size: 3.671875vw;
                padding-left: 2.3vw;
            }

            .milleneufcentdix {
                padding-right: 21vw;
            }
            .deuxmille {
                padding-right: 25.75vw;
            }

            .deuxmilledix {
                padding-right: 22vw;
            }

            .deuxmillequinze {
            }
        }

         .date-barre {

             @include xs {
                 display: none;
             }

             position: absolute;
             z-index: 100;
             width: 100%;
             bottom : 0;

             .boule {
                 float: left;
                 width: 100%;
                 height: auto;
             }
         }

         .box {
            @include xs {
                padding-left: 15vw;
            }
         }

         .box1 {
             background-color: #007B58;
             height: inherit;

             .defo-centre {
                display: block;
                margin: 0 auto;
                width: 100%;
                padding-top: 5vw;
                padding-left: 5vw;

                img {
                    width: 80%;
                    height: auto;
                    margin: 0 auto;
                    margin-top: 0.4em;
                    margin-left: 1.5em;
                }
             }

             p {
                 font-family: 'chaletcomprime';
                 color: #37ABAD;
                 float: left;
                 text-transform: uppercase;
             }

             .chiffre-hectare {
                font-size: 8vw;
                padding-left: 4vw;

                @include xs {
                    font-size: 24vw;
                }

                span {
                    color : #fff;
                }
             }

             .description-hectare {
                 font-size: 3vw;
                 padding-left: 0.5vw;
                 padding-top: 0.2em;

                 @include xs {
                     font-size: 10vw;
                 }

                 span {
                     color : #fff;
                 }
             }

         }
         .box2 {
             background-color: #00924D;
             height: inherit;

             .defo-centre2 {
                display: block;
                margin: 0 auto;
                width: 100%;
                padding-top: 5vw;
                padding-left: 5vw;

                img {
                    width: 70%;
                    height: auto;
                    margin: 0 auto;
                    margin-top: 0.4em;
                    margin-left: 1.5em;
                }
             }
             p {
                 font-family: 'chaletcomprime';
                 color: #754D2B;
                 float: left;
                 text-transform: uppercase;
             }

             .chiffre-hectare2 {
                font-size: 8vw;
                padding-left: 4vw;

                @include xs {
                    font-size: 24vw;
                }

                span {
                    color : #fff;
                }
             }

             .description-hectare2 {
                 font-size: 3vw;
                 padding-left: 0.5vw;
                 padding-top: 0.2em;

                 @include xs {
                     font-size: 10vw;
                 }

                 span {
                     color : #fff;
                 }
             }
         }
         .box3 {
             background-color: #4BAE61;
             height: inherit;

             .defo-centre3 {
                display: block;
                margin: 0 auto;
                width: 100%;
                padding-top: 5vw;
                //padding-left: 5vw;

                img {
                    width: 50%;
                    height: auto;
                    margin: 0 auto;
                    margin-top: 1.1em;
                    margin-left: -2.5em;
                }
             }
             p {
                 font-family: 'chaletcomprime';
                 color: #007B58;
                 float: left;
                 text-transform: uppercase;
             }

             .chiffre-hectare3 {
                font-size: 8vw;
                padding-left: 4vw;

                @include xs {
                    font-size: 24vw;
                }

                span {
                    color : #fff;
                }
             }

             .description-hectare3 {
                 font-size: 3vw;
                 padding-left: 0.5vw;
                 padding-top: 0.2em;

                 @include xs {
                     font-size: 10vw;
                 }

                 span {
                     color : #fff;
                 }
             }
         }
     }
 }

#nombre_hectare_mobile {
    display: none;

    @include xs {
        display: block;
    }
}

 /**
  * @author Gaulthier Volondat
  * @author Maxime Emorine
  */

#intro-zones {
    background-color: rgba(69, 134, 156, 0.78);
    width: 100%;
    padding: 30px 0;
    clear: both;

    p {
        color: #fff;
        font-size: 24px;
        text-align: right;

        @include sm {
            font-size: 20px;
        }
        @include xs {
            font-size: 20px;
            text-align: left;
        }
    }

    h1 {
        color: #fff;
        font-size: 100px;
        padding-top: 60px;

        @include sm {
            font-size: 70px;
        }
        @include xs {
            font-size: 48px;
        }
    }
}

/**
 * @author Maxime Emorine
 */
#zones {

    margin-top: 5vw;

    @include xs {
        margin-top: 0;
    }

    .texte {
        padding: 2vw 0;
        h1 {
            font-size: 6vw;
            display: inline-block;
            vertical-align: middle;

            @include xs {
                font-size: 14vw;
            }
        }

        .chiffre {
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            padding-top: 1vw;
            position: relative;
            z-index: 100;
            margin-right: 2vw;

            @include xs {
                width: 14vw;
                height: 14vw;
                padding-top: 3vw;
            }

            span {
                color: white;
                font-size: 6vw;
                font-family: chaletcomprime;

                @include xs {
                    font-size: 10vw;
                }
            }
        }

        &#texte_amazonie {
            background-color: #efeacc;
            width: 95%;
            border-radius: 0 5vw 0 0;

            @include xs {
                width: 100%;
                border-radius: 0;
            }

            .content {
                float: right;
                width: 40%;

                @include xs {
                    float: none;
                    width: 100%;
                    padding-left: 10vw;
                }
            }
            h1{
                color: #45869c;
            }
            .chiffre {
                background-color: #45869c;
            }
        }
        &#texte_afrique {
            background-color: #d9c9a8;
            width: 95%;
            float: right;
            border-radius: 5vw 0 0 0;
            margin-top: 2vw;

            @include xs {
                width: 100%;
                border-radius: 0;
                margin-top: 0;
            }

            .content {
                float: none;
                width: 45%;

                @include xs {
                    width: 100%;
                    padding-left: 15vw;
                    position: relative;
                }
            }
            h1{
                color: #754c24;
                text-align: right;
                padding-left: 4vw;

                @include xs {
                    text-align: left;
                    padding-left: 10vw;
                }
            }
            .chiffre {
                background-color: #754c24;
                margin-right: 0vw;
                margin-left: 2vw;

                @include xs {
                    position: absolute;
                    left: 5%;
                    top: 30%;
                }
            }
        }
        &#texte_asie {
            background-color: #efeacc;
            width: 95%;
            border-radius: 0 5vw 0 0;

            @include xs {
                width: 100%;
                border-radius: 0;
            }

            .content {
                float: right;
                width: 40%;

                @include xs {
                    float: none;
                    width: 100%;
                    padding-left: 10vw;
                }
            }
            h1{
                color: #009343;
            }
            .chiffre {
                background-color: #009343;
            }
        }
    }
    .image {

        img.desktop {
            @include xs {
                display: none;
            }
        }
        img.mobile {
            display: none;
            @include xs {
                display: block;
            }
        }

        &#image_amazonie {
            padding-left: 5vw;
            width: 60%;

            @include xs {
                padding: 0;
                width: 100%;
            }

            img {
                margin-top: -25vw;

                @include xs {
                    margin-top: 0;
                }
            }
        }

        &#image_afrique {
            padding-left: 35%;
            width: 100%;
            padding-right: 5%;

            @include xs {
                padding: 0;
                width: 100%;
            }

            img {
                margin-top: -25vw;

                @include xs {
                    margin-top: 0;
                }
            }
        }
        &#image_asie {
            padding-left: 15vw;
            width: 60%;

            @include xs {
                padding: 0;
                width: 100%;
            }

            img {
                margin-top: -25vw;

                @include xs {
                    margin-top: 0;
                }
            }
        }
    }
}


/**
 * @author Maxime Emorine
 */
#forets_disparaissent {
    background-color: #8c6239;
    margin-top: -20px;

    .content {
        padding: 40px 0;
        background: url('../images/forets_disparaissent.svg');
        background-size: 100% auto;

        .row {
            .tronc {
                padding: 0 100px;

                @include sm {
                    padding: 0 40px;
                }
                @include xs {
                    display: none;
                }
            }
            .texte {
                h1 {
                    color: white;
                    font-size: 100px;

                    @include sm {
                        font-size: 76px;
                    }
                    @include xs {
                        font-size: 20vw;
                    }
                }
            }
        }
    }
}

/**
 * @author Gaulthier Volondat
 */
#cause {

    .titre-cause {
        background-color: #754C24;
        width: 100%;

        h4 {
            color: #fff;
            font-family: 'chaletcomprime';
            text-transform: uppercase;
            font-size: 7vw;
            padding-left: 0.7em;
            padding-top: 0.3em;

            @include xs {
                font-size: 14vw;
            }
        }
        p {
            color: white;
            padding-left: 0.7em;
            font-size: 3vw;
            padding-bottom: 2vw;

            @include xs {
                font-size: 6vw;
            }
        }
    }

    .content-cause {
        position: relative;
        background-color: #38ACAE;
        padding-bottom: 13.2em;

        @include xs {
            display: none;
        }

        .pourcent-cause {
            position: absolute;
            display: inline-block;
            left: 17em;
            top: 3em;

            h1 {
                float: left;
                color: #D0A882;
                font-size: 8vw;
            }

            .pourcent1 {
                padding-right: 2.9em;
            }

            .pourcent2 {
                font-size: 4vw;
                padding-top: 0.5em;
                padding-right: 1.65em;
            }

            .pourcent3 {
                font-size: 4vw;
                padding-top: 0.5em;
                padding-right: 2.1em;
            }

            .pourcent4 {
                font-size: 4vw;
                padding-top: 0.5em;
            }

            span {
                color: #fff;
            }
        }

        img {
            width: 95%;
        }

        .multi-boules {
            margin-top: -2.2em;
            width: 92%;
        }

        .text-cause {
            color: #fff;
            font-family: 'chaletcomprime';
            text-transform: uppercase;
            font-size: 4vw;
            position: relative;
            background-color: red;

            .agri {
                top: -7.15em;
                left: 6.1em;
                position: absolute;
            }

            .urbaine {
                top: -7.2em;
                left: 13.4em;
                position: absolute;
                text-align: right;
                line-height: 0.9;
            }

            .infra {
                top: -4.6em;
                left: 14.8em;
                position: absolute;
            }

            .exploitation {
                top: -3.2em;
                left: 19em;
                position: absolute;
                text-align: right;
            }
        }

        .content-agri {
            width: 33.4%;
            background-color: #2E9999;
            position: absolute;
            top: 10.95em;
            left: 3em;
            z-index: 4;
            padding-bottom: 0.5em;

            .picto-agri {

                padding-left: 1em;

                img {
                    display: inline-block;
                    width: 3.5em;
                    padding-top: 0.8em;
                }

                .picto-bovin {
                    padding-right: 1em;
                }

                .picto-soja {
                    padding-right: 1em;
                }

                .picto-palmier {
                    padding-right: 1em;
                }
            }

            .titre-agri {
                color: #fff;
                font-size: 1vw;
                padding-left: 3em;
                padding-top: 1em;
                position: relative;

                h1 {
                    display: inline-block;
                }

                .titre-bovin {
                    padding-right: 2.1em;
                }

                .titre-soja {
                    padding-right: 1em;
                }

            }


            p {
                font-size: 1.5vw;
                color: #fff;
                padding: 1em;
            }

            .excla {
                width: 2.5em;
                height: auto;
                position: absolute;
                left : 15em;
                bottom: -0.5em;
                z-index: 30;
            }
        }

        .content-indo {
            width: 95%;
            float: right;
            background-color: #754C24;
            height: auto;
            position: relative;
            z-index: 1;
            margin-top: 0.8em;

            h2 {
                color: #fff;
                font-size: 3.5vw;
                padding-left: 0.5em;
                padding-top: 1.5em;
            }

            p {
                color: #fff;
                font-size: 1.5vw;
                width: 30em;
                padding: 1em;
            }

            img {
                width: 48%;
                right: 0em;
                margin-top: -12.4em;
                z-index: 3;
                position: absolute;
            }

            .bloc-indo {
                width: 6.35em;
                right: 0em;
                position: absolute;
                height: 12.4em;
                background-color: #543012;
                top: 0em;
                z-index: 2;
            }
        }
    }
    .content_cause_mobile {
        display: none;
        @include xs {
            display: block;
        }
    }
}

/**
 * @author Gaulthier Volondat
 */

#degradation {

    width: 100%;

    .titre-degradation {
        background-color: #007A51;
        width: 100%;

        h4 {
            color: #fff;
            font-family: 'chaletcomprime';
            text-transform: uppercase;
            font-size: 7vw;
            padding-left: 0.7em;
            padding-top: 0.2em;

            @include xs {
                font-size: 14vw;
            }
        }
        p {
            color: white;
            padding-left: 0.7em;
            font-size: 3vw;
            padding-bottom: 2vw;

            @include xs {
                font-size: 6vw;
            }
        }
    }

    .content-degradation {
        background-color: #04af52;
        height: auto;
        width: 100%;

        @include xs {
            display: none;
        }

        .elements {
            display: table;
            width: 100%;
            margin-bottom: 30px;
            .element {
                display: table-cell;
                width: 25%;
                vertical-align: bottom;
                padding: 0 50px;

                @include md {
                    padding: 0 40px;
                }
                @include sm {
                    padding: 0 25px;
                }
                @include xs {
                    padding: 0 10px;
                }
            }
        }
        .chiffres {
            display: table;
            width: 100%;

            @include xs {
                display: block;
            }

            .chiffre {
                color: white;
                display: table-cell;
                width: 25%;
                vertical-align: middle;
                padding: 10px 10px 0;

                @include xs {
                    display: block;
                    width: 100%;
                }

                h2 {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 80px;

                    @include md {
                        font-size: 50px;
                    }
                    @include sm {
                        font-size: 66px;
                    }
                    @include xs {
                        font-size: 20vw;
                    }
                }
                p {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 20px;

                    @include md {
                        font-size: 18px;
                    }
                }

                &.first {
                    background-color: #009343;
                    @include xs {
                        background-color: inherit;
                    }
                }
                &.last {
                    position: relative;
                    padding: 0;

                    .content {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        background-color: #007950;
                        padding: 10px;

                        @include xs {
                            position: static;
                            left: initial;
                            top: initial;
                        }
                    }
                }
            }
        }
        .description {
            color: white;
            background-color: #009343;
            padding: 30px 10px;

            h3 {
                font-size: 40px;
            }
        }
    }

    .content-degradation_mobile {
        display: none;

        @include xs {
            display: block;
        }
    }
}

 /**
  * @author Gaulthier Volondat
  */

#pourquoi {
    background-color: #3BACB0;
    position: relative;

    @include xs {
        padding: 5vw;
    }
    h1 {
        color: #fff;
        font-size: 10vw;
        width: 50%;
        line-height: 0.9;
        display: inline-block;
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 1.5em;
        padding-right: 0em;

        @include xs {
            font-size: 18vw;
            padding: 0;
            width: 80%;
        }
    }
    h2 {
        color: #fff;
        font-size: 6vw;
        width: 40%;
        line-height: 0.9;
        display: inline-block;
        padding-left: -10em;
        position: absolute;
        top: 3em;

        @include xs {
            font-size: 12vw;
            position: static;
            width: 70%;
            margin-left: 30%;
            margin-top: 5vw;
            top: initial;
            padding: 0;
        }
    }
}

/**
 * @author Gaulthier Volondat
 * @author Maxime Emorine
 */

#climat-carbone {
    .climat {
        //height: 3em;

        img {
            width : 8%;
            display: inline-block;
            padding-left: 1.5em;
            margin-top: -2em;
            margin-left: 0em;

            @include xs {
                margin-top: -7vw;
                padding: 0;
                padding-left: 2vw;
                width: 13%;
            }

        }

        h1 {
            color: #4D4D4D;
            font-size: 7.5vw;
            padding-top: 0.2em;
            padding-left: 0.1em;
            display: inline-block;

            @include xs {
                font-size: 16vw;
            }
        }
    }

    .carbone {
        background-color: #4D4D4D;
        //height: 3em;

        @include xs {
            padding-bottom: 20vw;
        }

        h1 {
            color: #fff;
            font-size: 7.5vw;
            padding-top: 0.2em;
            padding-left: 0.5em;

            @include xs {
                font-size: 12vw;
            }
        }
    }

    .content {
        background-color: rgba(#754c24, 0.6);
        padding-top: 100px;

        @include xs {
            padding-top: 20px;
        }

        .container {
            position: relative;

            @include xs {
                padding: 0;
            }

            &>img {
                @include xs {
                    display: none;
                }
            }
        }

        .bloc {

            @include xs {
                padding: 2vw 4vw;
            }


            h2 {

                color: #4d4d4d;
                font-size: 120px;
                line-height: 0.6em;
                margin-top: 20px;

                @include md {
                    font-size: 100px;
                }

                @include sm {
                    font-size: 70px;
                }

                @include xs {
                    color: white;
                    font-size: 30vw;
                    line-height: 0.6em;
                }

                span {
                    font-size: 0.8em;
                }
            }

            h3 {
                font-size: 60px;
                color: white;
                margin-top: 10px;

                @include md {
                    font-size: 50px;
                }
                @include sm {
                    font-size: 40px;
                }
                @include xs {
                    font-size: 10vw;
                }
            }

            p {
                font-size: 24px;
                color: white;

                @include sm {
                    font-size: 18px;
                }
                @include xs {
                    font-size: 7vw;
                }

                // &.bottom {
                //     margin-top: -20px;
                // }
            }

            &.bloc1 {
                position: absolute;
                width: 20%;
                left: 31%;
                top: 0%;

                @include xs {
                    position: relative;
                    left: initial;
                    top: initial;
                    width: 100%;
                }

                img.mobile {
                    display: none;

                    @include xs {
                        display: block;
                        position: absolute;
                        width: 40%;
                        right: 5%;
                        top: -40%;
                    }
                }

                .bottom {
                    @include xs {
                        position: absolute;
                        width: 45%;
                        right: 5%;
                        top: 50%;
                    }
                }
            }

            &.bloc2 {
                position: absolute;
                width: 27%;
                left: 18%;
                top: 65%;

                @include md {
                    width: 35%;
                    left: 10%;
                }
                @include sm {
                    left: 0;
                    width: 40%;
                }
                @include xs {
                    position: static;
                    left: initial;
                    top: initial;
                    width: 100%;
                    margin-top: 20px;
                    background-color: rgba(#754c24, 0.62);
                }
            }

            &.bloc3 {
                position: absolute;
                width: 20%;
                left: 53%;
                top: 0%;
                text-align: right;

                @include xs {
                    width: 100%;
                    left: initial;
                    top: initial;
                    position: relative;
                    text-align: left;
                    margin-top: -1px;
                }

                img.mobile {
                    display: none;

                    @include xs {
                        display: block;
                        position: absolute;
                        width: 40%;
                        right: 5%;
                        top: 10%;
                    }
                }
            }
            &.bloc4 {
                position: absolute;
                width: 40%;
                left: 60%;
                top: 65%;
                color: white;

                span {
                    text-transform: uppercase;
                	font-family: chaletcomprime;
                    font-size: 60px;
                    color: white;
                    margin-top: 10px;

                    @include md {
                        font-size: 50px;
                    }
                    @include sm {
                        font-size: 40px;
                    }
                    @include xs {
                        font-size: 10vw;
                    }
                }

                img {
                    width: 150px;
                    margin-top: 10px;

                    @include sm {
                        margin-top: 2px;
                        width: 100px;
                    }

                    @include xs {
                        width: 50vw;
                        display: block;
                        margin: 0 auto;
                    }
                }

                @include xs {
                    width: 100%;
                    left: initial;
                    top: initial;
                    position: static;
                    background-color: rgba(#754c24, 0.62);
                    font-size: 5vw;
                }
            }
        }
    }
}

/**
 * @author Maxime Emorine
 */
#biodiversite {
    background-color: #009343;
    position: relative;

    @include xs {
        padding-bottom: 90vw;
    }

    .container-fluid {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5vw;
        color: white;

        .chiffre {
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            padding-top: 1vw;
            position: relative;
            z-index: 100;
            margin-right: 2vw;
            background-color: #007950;

            @include xs {
                width: 14vw;
                height: 14vw;
                padding-top: 3vw;
                margin-top: 4vw;
            }

            span {
                color: white;
                font-size: 6vw;
                font-family: chaletcomprime;

                @include xs {
                    font-size: 10vw;
                }
            }
        }

        .intro {
            h1 {
                font-size: 10vw;
                line-height: 0.9em;

                @include xs {
                    font-size: 12vw;
                }
            }
            p {
                width: 70%;
                font-size: 4vw;
                line-height: 0.8em;
                @include xs {
                    font-size: 8vw;
                }
            }
        }

        .main {
            @include xs {
                margin-top: 5vw;
            }

            h2 {
                font-size: 35vw;
                text-align: center;
                line-height: 0.7em;

                @include xs {
                    font-size: 20vw;
                    line-height: 0.8em;
                    text-align: left;
                }
            }
            h4 {
                font-size: 4vw;
                line-height: 0.8em;

                @include xs {
                    font-size: 8vw;
                    margin-bottom: 4vw;
                }
            }
            p {
                font-size: 1.5vw;

                @include xs {
                    font-size: 6vw;
                }
            }
        }
    }
}

#catastrophes_naturelles {
    background-color: #009343;
    position: relative;
    z-index: 2;

    @include xs {
        padding-top: 60vw;
        background-color: #9cb3bb;
    }

    img {
        margin-top: -15vw;

        @include xs {
            margin-top: 0vw;
        }
    }

    .container-fluid {
        width: 100%;
        position: absolute;
        bottom: 10%;
        left: 0;
        padding: 5vw;
        color: white;

        @include xs {
            bottom: 2%;
        }

        h1 {
            font-size: 10vw;
            line-height: 0.9em;

            @include xs {
                font-size: 12vw;
            }
        }

        p {
            font-size: 2vw;
            padding-left: 5vw;
            margin-top: 5vw;

            @include xs {
                font-size: 6vw;
                margin-top: 1vw;
            }
        }

        .chiffre {
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            padding-top: 1vw;
            position: relative;
            z-index: 100;
            margin-right: 2vw;
            background-color: white;

            @include xs {
                width: 14vw;
                height: 14vw;
                padding-top: 3vw;
            }

            span {
                color: #488cc7;
                font-size: 6vw;
                font-family: chaletcomprime;

                @include xs {
                    font-size: 10vw;
                }
            }
        }
    }
}

#eau {
    background-color: #8c6239;
    position: relative;
    z-index: 3;

    @include xs {
        padding-bottom: 10vw;
    }

    .container-fluid {
        padding: 0 2vw 0 5vw;

        color: white;

        @include xs {
            padding: 0;

            .row {
                margin: 0;
            }
        }

        .content {
            padding: 5vw 0;

            @include xs {
                background-color: #7fd2eb;
                padding: 4vw;
                min-height: 155vw;
                padding-bottom: 8vw;
            }
        }

        h1 {
            font-size: 10vw;
            line-height: 0.9em;

            @include xs {
                font-size: 14vw;
            }
        }

        p {
            font-size: 1.5vw;

            @include xs {
                font-size: 6vw;
            }
        }

        .image {
            @include xs {
                clear: both;
            }
            img {
                margin-top: -4vw;

                @include xs {
                    margin-top: -8vw;
                }
            }
        }

        .chiffre {
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            padding-top: 1vw;
            position: relative;
            z-index: 100;
            margin-right: 2vw;
            background-color: white;

            @include xs {
                width: 14vw;
                height: 14vw;
                padding-top: 3vw;
            }

            span {
                color: #8c6239;
                font-size: 6vw;
                font-family: chaletcomprime;

                @include xs {
                    font-size: 10vw;
                    color: #7fd2eb
                }
            }
        }
    }
}

#comment_eviter {
    background: linear-gradient(to bottom,
        #007950 0%,
        #007950 60%,
        #efeacc 60%,
        #efeacc 100%);

    @include xs {
        background: linear-gradient(to bottom,
            #007950 0%,
            #007950 80%,
            #efeacc 80%,
            #efeacc 100%);
    }

    .container {

        .image {
            padding: 0 40px;

            @include sm {
                padding: 0 20px;
            }
            @include xs {
                padding: 0;
            }
        }
        .texte {
            padding-top: 30px;

            @include sm {
                padding-top: 10px;
            }
            @include xs {
                padding-top: 2vw;
            }

            h1 {
                color: white;
                font-size: 130px;

                @include md {
                    font-size: 110px;
                }
                @include sm {
                    font-size: 80px;
                }
                @include xs {
                    font-size: 14vw;
                }
            }
        }
    }
}

#contre_deforestation {
    padding: 30px 0;
    .container {
        .row {
            h1 {
                color: #007950;
                font-size: 85px;

                @include md {
                    font-size: 70px;
                }
                @include sm {
                    font-size: 80px;
                }
                @include xs {
                    font-size: 12vw;
                }
            }
            p {
                font-size: 24px;
                color: #4d4d4d;

                @include xs {
                    font-size: 6vw;
                }
            }
        }
    }
}

/**
 * @author Maxime Emorine
 */
#declaration_ny {
    .heading {
        background-color: #009343;
        padding: 25px 0 10px;
        .container {
            h1 {
                font-size: 80px;
                color: white;

                @include sm {
                    font-size: 55px;
                }
            }
        }
    }
    .content {
        background-color: #44bb53;
        padding: 30px 0 60px;
        color: white;

        p {
            font-size: 22px;

            @include sm {
                font-size: 20px;
            }
        }
        h2 {
            font-size: 80px;
            margin-top: 20px;

            @include md {
                font-size: 70px;
            }
            @include sm {
                font-size: 50px;
            }
        }


        .objectifs {
            margin-top: 30px;
            width: 100%;
            display: table;

            @include xs {
                display: block;
            }

            .bloc {
                width: 33.333%;
                padding: 4vw;
                display: table-cell;
                position: relative;

                @include xs {
                    display: block;
                    width: 100%;
                    padding: 12vw 6vw;
                    margin-top: 10vw;
                }

                h3 {
                    text-align: center;
                    font-size: 10vw;

                    @include xs {
                        font-size: 30vw;
                        text-align: left;
                    }
                }
                p {
                    font-size: 2vw;

                    @include xs {
                        font-size: 6vw;
                    }
                }

                &>img {
                    position: absolute;
                    width: 20%;
                    bottom: -10%;
                    left: 40%;

                    @include xs {
                        right: 10%;
                        top: 20%;
                        left: initial;
                        bottom: initial;
                    }
                }

                &:before {
                    width: 5vw;
                    height: 5vw;
                    background-color: white;
                    color: #007950;
                    text-align: center;
                    border-radius: 50%;
                    margin: 0 auto;
                    display: block;
                    position: absolute;
                    top: -3vw;
                    left: 50%;
                    margin-left: -2.5vw;
                    font-size: 4vw;
                    font-family: chaletcomprime;
                    line-height: 1.4em;

                    @include xs {
                        width: 15vw;
                        height: 15vw;
                        margin-left: -7.5vw;
                        font-size: 12vw;
                        top: -6vw;
                    }
                }

                &.bloc1 {
                    background-color: rgba(#007950, 0.33);

                    &:before {
                        content:"1";
                    }
                }
                &.bloc2 {
                    border-left: 2px solid #44bb53;
                    border-right: 2px solid #44bb53;
                    background-color: rgba(#007950, 0.5);

                    &:before {
                        content:"2";
                    }
                }
                &.bloc3 {
                    background-color: rgba(#007950, 0.7);

                    &:before {
                        content:"3";
                    }
                }
            }
        }

    }
}
#muraille_chine {
    .heading {
        background-color: #d9c9a8;
        padding: 25px 0 10px;
        color: $primary-color;
        .container {
            h1 {
                font-size: 80px;
                color: white;

                @include sm {
                    font-size: 55px;
                }
            }
        }
    }
    .content {
        background-color: #efeacc;

        .container {
            @include xs {
                padding: 0;
            }
        }

        .left {
            color: $primary-color;
            float: left;
            width: 35%;
            padding: 15px 0;

            @include sm {
                width: 100%;
                float: none;
                margin-bottom: 30px;
            }
            @include xs {
                width: 100%;
                float: none;
                margin-bottom: 30px;
                padding: 3vw;
            }

            p {
                font-size: 24px;
            }
        }
        .right {
            width: 65%;
            float: right;
            position: relative;

            @include sm {
                width: 100%;
                float: none;
            }
            @include xs {
                width: 100%;
                float: none;
            }

            &>img {
                margin-top: -1px;

                &.desktop {
                    @include xs {
                        display: none;
                    }
                }
                &.mobile {
                    display: none;
                    @include xs {
                        display: block;
                    }
                }
            }

            .description {
                position: absolute;
                bottom: 3%;
                left: 3%;
                color: #009343;
                font-size: 24px;

                @include md {
                    font-size: 22px;
                    bottom: 0;
                }
                @include xs {
                    font-size: 5vw;
                }
                h2 {
                    font-size: 200px;

                    @include md {
                        font-size: 160px;
                    }
                    @include xs {
                        font-size: 45vw;
                    }
                }
                p {
                    padding-left: 10px;
                }
                p.bottom {
                    margin-top: -40px;
                    @include xs {
                        margin-top: -8vw;
                    }
                }
            }
            .objectif {
                position: absolute;
                top: 30%;
                right: 8%;
                width: 20%;

                @include md {
                    width: 30%;
                }
                @include xs {
                    width: 30%;
                    right: 10%;
                    top: 30%;
                }
                .bloc1 {
                    background-color: #d9c9a8;
                    color: $primary-color;
                    padding: 10px;

                    h3 {
                        font-size: 40px;

                        @include xs {
                            font-size: 8vw;
                            padding: 1vw;
                            padding-bottom: 0;
                        }
                    }
                }
                .bloc2 {
                    background-color: white;
                    color: $primary-color;
                    padding: 10px;

                    @include xs {
                        font-size: 5vw;
                        padding: 1vw;
                    }
                }
            }
        }
    }
}
#green_wall {
    .heading {
        background-color: #754c24;
        padding: 25px 0 10px;
        color: white;
        .container {
            h1 {
                font-size: 80px;
                color: white;

                @include sm {
                    font-size: 55px;
                }
            }
        }
    }
    .content {
        background-color: #8c6239;
        color: white;
        padding: 20px 0;
        .left {
            color: white;
            font-size: 24px;
            margin-bottom: 30px;
        }
        .right {
            .row {
                margin-bottom: 20px;
                @include xs {
                    margin-bottom: 0px;
                }

                img {
                    @include xs {
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}

/**
 * @author Maxime Emorine
 */
#intro_qqf {
    padding-top: 40px;
    h1 {
        color: #d9c9a8;
        font-size: 10vw;

        @include sm {
            font-size: 12vw;
        }
        @include xs {
            font-size: 18vw;
        }
    }
}

#qqf {

    background: linear-gradient(to bottom,
	    white 0%,
	    white 10%,
	    #efeacc 10%,
	    #efeacc 100%);

    img {
        display: block;
        margin: 0 auto;
        width: 80%;
        position: relative;
        z-index: 100;
    }
}

.qqf_picto {
    width: 7%;
    margin: 0 auto;

    @include xs {
        width: 15%;
    }

    &#picto_plante {
        margin-top: -5vw;
    }
}

.qqf_element {

    color: white;
    padding: 20px 0;

    .left {
        float: left;
        width: 35%;
        position: relative;

        @include xs {
            width: 100%;
            float: none;
        }

        h1 {
            font-size: 74px;

            @include md {
                font-size: 64px;
            }
            @include sm {
                font-size: 55px;
            }
            @include xs {
                font-size: 50px;
            }
        }
    }
    .right {
        float: right;
        width: 60%;

        @include xs {
            width: 100%;
            float: none;
        }

        p {
            font-size: 28px;

            @include md {
                font-size: 25px;
            }
            @include sm {
                font-size: 22px;
            }
            @include xs {
                font-size: 22px;
            }
        }
    }

    &#surveille {
        background-color: #44bb53;

        .left {
            img {
                width: 50%;
                display: block;
                float: right;


                @include lg {
                    margin-top: -80px;
                }
                @include xs {
                    width: 30%;
                    float: none;
                    margin-top: 20px;
                }
            }
        }

        .voir {

        	color: white;
        	border: 2px solid white;
            background-color: #28a534;

        	&:hover {
        		color: #28a534;
        		background-color: white;
        	}
        }
    }

    &#papiers {
        background-color: #d9c9a8;
        color: $primary-color;
        .left {
            img {
                @include xs {
                    width: 50%;
                }
            }
        }
    }

    &#recycle {
        background-color: #3bacb0;

        .left {
            img {
                position: absolute;
                width: 80%;
                left: 0;
                top: 100%;

                @include xs {
                    position: static;
                    top: initial;
                    left: initial;
                    width: 30%;
                }
            }
        }

        .voir {

        	color: white;
        	border: 2px solid white;
            background-color: #289999;
            margin-bottom: 15px;

        	&:hover {
        		color: #289999;
        		background-color: white;
        	}
        }
    }

    &#palme {
        background-color: #8c6239;

        .left {
            img {
                position: absolute;
                width: 80%;
                left: 0;
                top: 100%;

                @include xs {
                    position: static;
                    top: initial;
                    left: initial;
                    width: 30%;
                }
            }
        }

        .voir {
        	color: white;
        	border: 2px solid white;
            background-color: #8c6239;
        	&:hover {
        		color: #8c6239;
        		background-color: white;
        	}
        }
    }

    &#viande {
        background-color: #007950;
        position: relative;

        img {
            position: absolute;
            top: 45%;
            left: 0;
            width: 25%;

            @include xs {
                display: none;
            }
        }

        .left {
            img {
                position: absolute;
                width: 80%;
                left: 0;
                top: 100%;
            }
        }

    }

    &#ecosia {
        background-color: #45869c;

        .row {
            clear:both;
            padding-top: 20px;
        }

        .voir {
        	color: white;
        	border: 2px solid white;
            background-color: #45869c;
        	&:hover {
        		color: #45869c;
        		background-color: white;
        	}
        }
    }

    &#stop {
        color: #45869c;
        background-color: #7bd5ef;
        position: relative;

        @include xs {
            padding-bottom: 30vw;
        }

        &>img {
            position: absolute;
            width: 50%;
            bottom: 0;
            right: 0;

            @include xs {
                width: 80%;
            }
        }

        .voir {
        	color: #45869c;
        	border: 2px solid white;
            background-color: #5dc3e0;
            position: relative;
            z-index: 100;

        	&:hover {
        		color: #5dc3e0;
        		background-color: white;
        	}
        }
    }
    &#plante {
        background-color: #8c6239;
        padding-bottom: 100px;
        position: relative;

        @include xs {
            padding-bottom: 30vw;
        }

        .right {
            position: relative;
            z-index: 10;
        }
        .left {
            z-index: 10;
        }

        &>img {
            position: absolute;
            width: 50%;
            bottom: 0;
            left: 0;
            z-index: 1;

            @include xs {
                width: 90%;
            }
        }

        .voir {
        	color: white;
        	border: 2px solid white;
            background-color: #71481f;
        	&:hover {
        		color: #71481f;
        		background-color: white;
        	}
        }
    }

} // .qqf_element




#sources {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 60px 15vw;
    background-color: #4d4d4d;
    color: white;

    p{
        a:hover {
            color: rgb(223, 223, 223);
        }
    }
} // #sources
