@font-face {
    font-family: 'chaletcomprime';
    src: url('http://www.qqf.fr/web/front/fonts/chaletcomprime.eot');
    src: url('http://www.qqf.fr/web/front/fonts/chaletcomprime.woff') format('woff'),
         url('http://www.qqf.fr/web/front/fonts/chaletcomprime.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'circular';
    src: url('http://www.qqf.fr/web/front/fonts/circular.eot');
    src: url('http://www.qqf.fr/web/front/fonts/circular.woff') format('woff'),
         url('http://www.qqf.fr/web/front/fonts/circular.ttf') format('truetype'),
         url('http://www.qqf.fr/web/front/fonts/circular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// http://www.qqf.fr/web/front
