body{
	color: $text-color;
	font: $text-font;
	width: 100%;
	position: relative;
	background-color: white;

	@include xs {
		font-size: 6vw;
	}
}


h1, h2, h3{
	text-transform: uppercase;
	margin: 0;
	font-family: chaletcomprime;
}

a{
	color: inherit;
	text-decoration: none;

	&:active{
		color: inherit;
	}

	&:hover{
		color: $text-color;
	}
}

img {
	width: 100%;
	height: auto;
}

.voir {
	text-align: center;
	font-family: chaletcomprime;
	color: $text-color;
	padding: 5px 10px 0;
	border: 2px solid $primary-color;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 15px;
	font-size: 30px;

	&:hover {
		text-decoration: none;
		color: white;
		border: 2px solid $primary-color;
		background-color: $primary-color;
	}
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.third-color {
	color: $third-color;
}

.fourth-color {
	color: $fourth-color;
}

.text-color {
	color: $text-color;
}

.white-color {
	color: white;
}
