*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a li {
  color: inherit; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=306f681bc7f93cc4c842)
 * Config saved to config.json and https://gist.github.com/306f681bc7f93cc4c842
 */
  /*!
* Bootstrap v3.3.5 (http://getbootstrap.com)
* Copyright 2011-2015 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@font-face {
  font-family: 'chaletcomprime';
  src: url("http://www.qqf.fr/web/front/fonts/chaletcomprime.eot");
  src: url("http://www.qqf.fr/web/front/fonts/chaletcomprime.woff") format("woff"), url("http://www.qqf.fr/web/front/fonts/chaletcomprime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'circular';
  src: url("http://www.qqf.fr/web/front/fonts/circular.eot");
  src: url("http://www.qqf.fr/web/front/fonts/circular.woff") format("woff"), url("http://www.qqf.fr/web/front/fonts/circular.ttf") format("truetype"), url("http://www.qqf.fr/web/front/fonts/circular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  color: #754c24;
  font: 400 2vw circular;
  width: 100%;
  position: relative;
  background-color: white; }
  @media (max-width: 767px) {
    body {
      font-size: 6vw; } }

h1, h2, h3 {
  text-transform: uppercase;
  margin: 0;
  font-family: chaletcomprime; }

a {
  color: inherit;
  text-decoration: none; }
  a:active {
    color: inherit; }
  a:hover {
    color: #754c24; }

img {
  width: 100%;
  height: auto; }

.voir {
  text-align: center;
  font-family: chaletcomprime;
  color: #754c24;
  padding: 5px 10px 0;
  border: 2px solid #754c24;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 15px;
  font-size: 30px; }
  .voir:hover {
    text-decoration: none;
    color: white;
    border: 2px solid #754c24;
    background-color: #754c24; }

.primary-color {
  color: #754c24; }

.secondary-color {
  color: #8c6239; }

.third-color {
  color: #6ea1b2; }

.fourth-color {
  color: #fbfaf3; }

.text-color {
  color: #754c24; }

.white-color {
  color: white; }

/*
 * @author Gaulthier Volondat
 * @author Maxime Emorine
 */
.wrap-header {
  background: url("../images/feuille.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  padding-top: 20vw;
  padding-bottom: 5vw; }
  .wrap-header .introduction {
    width: 70%;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .wrap-header .introduction {
        width: 85%; } }
    .wrap-header .introduction header {
      padding: 3vw 0; }
      .wrap-header .introduction header img {
        width: 5.859375vw; }
        @media (max-width: 767px) {
          .wrap-header .introduction header img {
            margin: 0 auto;
            width: 15vw; } }
      .wrap-header .introduction header h1 {
        position: relative;
        top: 1.015625vw; }
        @media (max-width: 767px) {
          .wrap-header .introduction header h1 {
            text-align: center;
            font-size: 12vw; } }
    .wrap-header .introduction h1, .wrap-header .introduction img {
      display: inline-block; }
      @media (max-width: 767px) {
        .wrap-header .introduction h1, .wrap-header .introduction img {
          display: block; } }
    .wrap-header .introduction .titre-defo {
      font-size: 7.03125vw;
      font-family: 'chaletcomprime';
      color: #45BC54;
      line-height: 1;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .wrap-header .introduction .titre-defo {
          font-size: 10vw;
          text-align: center; } }
    .wrap-header .introduction .text-defo {
      font-size: 2vw;
      padding-top: 2vw; }
      @media (max-width: 767px) {
        .wrap-header .introduction .text-defo {
          font-size: 6vw;
          padding-top: 0; } }

/*#feuille {
  position: relative;
}*/
/*
#intro {
    margin-top: 20px;
    text-align: center;

    h2 {
        font-size: 30px;
        color: $text-color;
    }

    h1.titre-infographie{
        font-size: 60px;
        color: $primary-color;
    }

    h1.problematique {
        color: $primary-color;
        font-size: 40px;
        border-bottom: 3px solid $primary-color;
        padding-bottom: 20px;
    }

    p {
        text-align: left;
        color: $text-color;
        margin: 20px 0;
    }
} // #intro */
/**
 * @author Maxime Emorine
 */
#quantite_foret_1 {
  margin-top: 1vw;
  position: relative; }
  #quantite_foret_1 img.mobile {
    display: none; }
    @media (max-width: 767px) {
      #quantite_foret_1 img.mobile {
        display: block; } }
  @media (max-width: 767px) {
    #quantite_foret_1 img.desktop {
      display: none; } }
  #quantite_foret_1 .content {
    width: 60%;
    position: absolute;
    left: 40%;
    top: 5%;
    color: white; }
    @media (max-width: 767px) {
      #quantite_foret_1 .content {
        width: 100%;
        left: 0;
        padding: 0 4vw; }
        #quantite_foret_1 .content > p {
          font-size: 8vw; } }
    #quantite_foret_1 .content .titre, #quantite_foret_1 .content .droit {
      display: inline-block;
      vertical-align: middle; }
      @media (max-width: 767px) {
        #quantite_foret_1 .content .titre, #quantite_foret_1 .content .droit {
          display: block; } }
    #quantite_foret_1 .content .titre {
      font-size: 30vw; }
      @media (max-width: 767px) {
        #quantite_foret_1 .content .titre {
          font-size: 100vw;
          text-align: center;
          margin-top: 0vw; } }
    @media (max-width: 767px) {
      #quantite_foret_1 .content .droit p.top {
        width: 35%;
        margin-left: 60%;
        font-size: 7vw;
        margin-top: -20vw; } }
    #quantite_foret_1 .content .droit p.bottom {
      margin-left: 5vw; }
      @media (max-width: 767px) {
        #quantite_foret_1 .content .droit p.bottom {
          margin-left: 0;
          font-size: 7vw;
          margin-top: 5vw; } }

#quantite_foret_2 {
  margin-top: 1vw;
  position: relative; }
  @media (max-width: 767px) {
    #quantite_foret_2 {
      margin-top: 0; } }
  #quantite_foret_2 img.mobile {
    display: none; }
    @media (max-width: 767px) {
      #quantite_foret_2 img.mobile {
        display: block; } }
  @media (max-width: 767px) {
    #quantite_foret_2 img.desktop {
      display: none; } }
  #quantite_foret_2 .content {
    width: 60%;
    position: absolute;
    left: 40%;
    top: 5%;
    color: white; }
    @media (max-width: 767px) {
      #quantite_foret_2 .content {
        width: 100%;
        left: 0;
        padding: 0 4vw; }
        #quantite_foret_2 .content > p {
          font-size: 8vw; } }
    #quantite_foret_2 .content .titre, #quantite_foret_2 .content .droit {
      display: inline-block;
      vertical-align: middle; }
      @media (max-width: 767px) {
        #quantite_foret_2 .content .titre, #quantite_foret_2 .content .droit {
          display: block; } }
    #quantite_foret_2 .content .titre {
      font-size: 25vw; }
      @media (max-width: 767px) {
        #quantite_foret_2 .content .titre {
          font-size: 80vw;
          text-align: center;
          margin-top: 10vw; } }
    @media (max-width: 767px) {
      #quantite_foret_2 .content .droit p {
        width: 35%;
        margin-left: 60%;
        font-size: 7vw;
        margin-top: -15vw; } }

/**
 * @author Maxime Emorine
 */
#nombre_arbre_homme {
  margin-top: -1px; }
  #nombre_arbre_homme .desktop {
    position: relative;
    color: white; }
    @media (max-width: 767px) {
      #nombre_arbre_homme .desktop {
        display: none; } }
    #nombre_arbre_homme .desktop .texte1 {
      position: absolute;
      top: 3%;
      left: 2%;
      width: 40%; }
      #nombre_arbre_homme .desktop .texte1 h1 {
        text-align: center;
        font-size: 20vw; }
      #nombre_arbre_homme .desktop .texte1 p.bottom {
        margin-left: 55%;
        margin-top: -4vw; }
    #nombre_arbre_homme .desktop .texte2 {
      position: absolute;
      bottom: 27%;
      left: 40%;
      width: 25%; }
      #nombre_arbre_homme .desktop .texte2 h1 {
        text-align: center;
        font-size: 10vw; }
      #nombre_arbre_homme .desktop .texte2 p.bottom {
        margin-left: 38%;
        margin-top: -2vw;
        font-size: 1.5vw; }
    #nombre_arbre_homme .desktop .texte3 {
      position: absolute;
      bottom: 21%;
      left: 72%;
      width: 15%; }
      #nombre_arbre_homme .desktop .texte3 h1 {
        text-align: left;
        font-size: 6vw; }
      #nombre_arbre_homme .desktop .texte3 p.bottom {
        margin-left: 0%;
        margin-top: -1vw;
        font-size: 1.2vw; }
    #nombre_arbre_homme .desktop .dates {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0; }
      #nombre_arbre_homme .desktop .dates .date {
        display: inline-block; }
        #nombre_arbre_homme .desktop .dates .date h2 {
          font-size: 5vw;
          color: #754c24;
          text-align: center; }
        #nombre_arbre_homme .desktop .dates .date.date1 {
          width: 45%; }
        #nombre_arbre_homme .desktop .dates .date.date2 {
          width: 16%; }
        #nombre_arbre_homme .desktop .dates .date.date3 {
          width: 25%; }
          #nombre_arbre_homme .desktop .dates .date.date3 h2 {
            text-align: right; }
  #nombre_arbre_homme .mobile {
    display: none;
    color: white; }
    @media (max-width: 767px) {
      #nombre_arbre_homme .mobile {
        display: block; } }
    #nombre_arbre_homme .mobile .top {
      position: relative; }
      #nombre_arbre_homme .mobile .top .content {
        position: absolute;
        width: 80%;
        top: 5%;
        left: 10%; }
        #nombre_arbre_homme .mobile .top .content h1 {
          text-align: center;
          font-size: 55vw; }
        #nombre_arbre_homme .mobile .top .content p.bottom {
          margin-left: 55%;
          margin-top: -10vw; }
    #nombre_arbre_homme .mobile .middle {
      position: relative; }
      #nombre_arbre_homme .mobile .middle .content {
        position: absolute;
        width: 50%;
        top: 30%;
        left: 25%; }
        #nombre_arbre_homme .mobile .middle .content h1 {
          text-align: left;
          font-size: 30vw; }
        #nombre_arbre_homme .mobile .middle .content p.bottom {
          margin-left: 12%;
          margin-top: -7vw;
          font-size: 4vw; }
    #nombre_arbre_homme .mobile .bottom {
      position: relative; }
      #nombre_arbre_homme .mobile .bottom .content {
        position: absolute;
        width: 40%;
        top: 20%;
        left: 35%; }
        #nombre_arbre_homme .mobile .bottom .content h1 {
          text-align: left;
          font-size: 25vw; }
        #nombre_arbre_homme .mobile .bottom .content p.bottom {
          margin-left: 2%;
          margin-top: -5vw;
          font-size: 3vw; }
  #nombre_arbre_homme .transition {
    color: #754c24;
    padding: 3vw; }

/**
 * @author Gaulthier Volondat
 */
#nombre_hectare {
  border-bottom: 2px solid white; }
  @media (max-width: 767px) {
    #nombre_hectare {
      display: none; } }
  #nombre_hectare .nb_total {
    width: 100%;
    background-color: rgba(117, 76, 36, 0.78); }
    #nombre_hectare .nb_total h4 {
      color: #fff;
      font-family: 'chaletcomprime';
      font-size: 7.8125vw;
      text-align: center;
      text-transform: uppercase;
      padding-top: 15px; }
  #nombre_hectare .box-defo {
    position: relative;
    height: 23vw; }
    @media (max-width: 767px) {
      #nombre_hectare .box-defo {
        height: auto; } }
    #nombre_hectare .box-defo > img.timeline {
      display: none; }
      @media (max-width: 767px) {
        #nombre_hectare .box-defo > img.timeline {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: auto;
          z-index: 1000; } }
    #nombre_hectare .box-defo .date-chiffre {
      position: absolute;
      width: 100%;
      z-index: 200;
      top: 1.5vw; }
      @media (max-width: 767px) {
        #nombre_hectare .box-defo .date-chiffre {
          display: none; } }
      #nombre_hectare .box-defo .date-chiffre li {
        display: inline;
        color: #fff;
        font-family: 'chaletcomprime';
        font-size: 3.671875vw;
        padding-left: 2.3vw; }
      #nombre_hectare .box-defo .date-chiffre .milleneufcentdix {
        padding-right: 21vw; }
      #nombre_hectare .box-defo .date-chiffre .deuxmille {
        padding-right: 25.75vw; }
      #nombre_hectare .box-defo .date-chiffre .deuxmilledix {
        padding-right: 22vw; }
    #nombre_hectare .box-defo .date-barre {
      position: absolute;
      z-index: 100;
      width: 100%;
      bottom: 0; }
      @media (max-width: 767px) {
        #nombre_hectare .box-defo .date-barre {
          display: none; } }
      #nombre_hectare .box-defo .date-barre .boule {
        float: left;
        width: 100%;
        height: auto; }
    @media (max-width: 767px) {
      #nombre_hectare .box-defo .box {
        padding-left: 15vw; } }
    #nombre_hectare .box-defo .box1 {
      background-color: #007B58;
      height: inherit; }
      #nombre_hectare .box-defo .box1 .defo-centre {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 5vw;
        padding-left: 5vw; }
        #nombre_hectare .box-defo .box1 .defo-centre img {
          width: 80%;
          height: auto;
          margin: 0 auto;
          margin-top: 0.4em;
          margin-left: 1.5em; }
      #nombre_hectare .box-defo .box1 p {
        font-family: 'chaletcomprime';
        color: #37ABAD;
        float: left;
        text-transform: uppercase; }
      #nombre_hectare .box-defo .box1 .chiffre-hectare {
        font-size: 8vw;
        padding-left: 4vw; }
        @media (max-width: 767px) {
          #nombre_hectare .box-defo .box1 .chiffre-hectare {
            font-size: 24vw; } }
        #nombre_hectare .box-defo .box1 .chiffre-hectare span {
          color: #fff; }
      #nombre_hectare .box-defo .box1 .description-hectare {
        font-size: 3vw;
        padding-left: 0.5vw;
        padding-top: 0.2em; }
        @media (max-width: 767px) {
          #nombre_hectare .box-defo .box1 .description-hectare {
            font-size: 10vw; } }
        #nombre_hectare .box-defo .box1 .description-hectare span {
          color: #fff; }
    #nombre_hectare .box-defo .box2 {
      background-color: #00924D;
      height: inherit; }
      #nombre_hectare .box-defo .box2 .defo-centre2 {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 5vw;
        padding-left: 5vw; }
        #nombre_hectare .box-defo .box2 .defo-centre2 img {
          width: 70%;
          height: auto;
          margin: 0 auto;
          margin-top: 0.4em;
          margin-left: 1.5em; }
      #nombre_hectare .box-defo .box2 p {
        font-family: 'chaletcomprime';
        color: #754D2B;
        float: left;
        text-transform: uppercase; }
      #nombre_hectare .box-defo .box2 .chiffre-hectare2 {
        font-size: 8vw;
        padding-left: 4vw; }
        @media (max-width: 767px) {
          #nombre_hectare .box-defo .box2 .chiffre-hectare2 {
            font-size: 24vw; } }
        #nombre_hectare .box-defo .box2 .chiffre-hectare2 span {
          color: #fff; }
      #nombre_hectare .box-defo .box2 .description-hectare2 {
        font-size: 3vw;
        padding-left: 0.5vw;
        padding-top: 0.2em; }
        @media (max-width: 767px) {
          #nombre_hectare .box-defo .box2 .description-hectare2 {
            font-size: 10vw; } }
        #nombre_hectare .box-defo .box2 .description-hectare2 span {
          color: #fff; }
    #nombre_hectare .box-defo .box3 {
      background-color: #4BAE61;
      height: inherit; }
      #nombre_hectare .box-defo .box3 .defo-centre3 {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 5vw; }
        #nombre_hectare .box-defo .box3 .defo-centre3 img {
          width: 50%;
          height: auto;
          margin: 0 auto;
          margin-top: 1.1em;
          margin-left: -2.5em; }
      #nombre_hectare .box-defo .box3 p {
        font-family: 'chaletcomprime';
        color: #007B58;
        float: left;
        text-transform: uppercase; }
      #nombre_hectare .box-defo .box3 .chiffre-hectare3 {
        font-size: 8vw;
        padding-left: 4vw; }
        @media (max-width: 767px) {
          #nombre_hectare .box-defo .box3 .chiffre-hectare3 {
            font-size: 24vw; } }
        #nombre_hectare .box-defo .box3 .chiffre-hectare3 span {
          color: #fff; }
      #nombre_hectare .box-defo .box3 .description-hectare3 {
        font-size: 3vw;
        padding-left: 0.5vw;
        padding-top: 0.2em; }
        @media (max-width: 767px) {
          #nombre_hectare .box-defo .box3 .description-hectare3 {
            font-size: 10vw; } }
        #nombre_hectare .box-defo .box3 .description-hectare3 span {
          color: #fff; }

#nombre_hectare_mobile {
  display: none; }
  @media (max-width: 767px) {
    #nombre_hectare_mobile {
      display: block; } }

/**
 * @author Gaulthier Volondat
 * @author Maxime Emorine
 */
#intro-zones {
  background-color: rgba(69, 134, 156, 0.78);
  width: 100%;
  padding: 30px 0;
  clear: both; }
  #intro-zones p {
    color: #fff;
    font-size: 24px;
    text-align: right; }
    @media (min-width: 768px) and (max-width: 991px) {
      #intro-zones p {
        font-size: 20px; } }
    @media (max-width: 767px) {
      #intro-zones p {
        font-size: 20px;
        text-align: left; } }
  #intro-zones h1 {
    color: #fff;
    font-size: 100px;
    padding-top: 60px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #intro-zones h1 {
        font-size: 70px; } }
    @media (max-width: 767px) {
      #intro-zones h1 {
        font-size: 48px; } }

/**
 * @author Maxime Emorine
 */
#zones {
  margin-top: 5vw; }
  @media (max-width: 767px) {
    #zones {
      margin-top: 0; } }
  #zones .texte {
    padding: 2vw 0; }
    #zones .texte h1 {
      font-size: 6vw;
      display: inline-block;
      vertical-align: middle; }
      @media (max-width: 767px) {
        #zones .texte h1 {
          font-size: 14vw; } }
    #zones .texte .chiffre {
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      padding-top: 1vw;
      position: relative;
      z-index: 100;
      margin-right: 2vw; }
      @media (max-width: 767px) {
        #zones .texte .chiffre {
          width: 14vw;
          height: 14vw;
          padding-top: 3vw; } }
      #zones .texte .chiffre span {
        color: white;
        font-size: 6vw;
        font-family: chaletcomprime; }
        @media (max-width: 767px) {
          #zones .texte .chiffre span {
            font-size: 10vw; } }
    #zones .texte#texte_amazonie {
      background-color: #efeacc;
      width: 95%;
      border-radius: 0 5vw 0 0; }
      @media (max-width: 767px) {
        #zones .texte#texte_amazonie {
          width: 100%;
          border-radius: 0; } }
      #zones .texte#texte_amazonie .content {
        float: right;
        width: 40%; }
        @media (max-width: 767px) {
          #zones .texte#texte_amazonie .content {
            float: none;
            width: 100%;
            padding-left: 10vw; } }
      #zones .texte#texte_amazonie h1 {
        color: #45869c; }
      #zones .texte#texte_amazonie .chiffre {
        background-color: #45869c; }
    #zones .texte#texte_afrique {
      background-color: #d9c9a8;
      width: 95%;
      float: right;
      border-radius: 5vw 0 0 0;
      margin-top: 2vw; }
      @media (max-width: 767px) {
        #zones .texte#texte_afrique {
          width: 100%;
          border-radius: 0;
          margin-top: 0; } }
      #zones .texte#texte_afrique .content {
        float: none;
        width: 45%; }
        @media (max-width: 767px) {
          #zones .texte#texte_afrique .content {
            width: 100%;
            padding-left: 15vw;
            position: relative; } }
      #zones .texte#texte_afrique h1 {
        color: #754c24;
        text-align: right;
        padding-left: 4vw; }
        @media (max-width: 767px) {
          #zones .texte#texte_afrique h1 {
            text-align: left;
            padding-left: 10vw; } }
      #zones .texte#texte_afrique .chiffre {
        background-color: #754c24;
        margin-right: 0vw;
        margin-left: 2vw; }
        @media (max-width: 767px) {
          #zones .texte#texte_afrique .chiffre {
            position: absolute;
            left: 5%;
            top: 30%; } }
    #zones .texte#texte_asie {
      background-color: #efeacc;
      width: 95%;
      border-radius: 0 5vw 0 0; }
      @media (max-width: 767px) {
        #zones .texte#texte_asie {
          width: 100%;
          border-radius: 0; } }
      #zones .texte#texte_asie .content {
        float: right;
        width: 40%; }
        @media (max-width: 767px) {
          #zones .texte#texte_asie .content {
            float: none;
            width: 100%;
            padding-left: 10vw; } }
      #zones .texte#texte_asie h1 {
        color: #009343; }
      #zones .texte#texte_asie .chiffre {
        background-color: #009343; }
  @media (max-width: 767px) {
    #zones .image img.desktop {
      display: none; } }
  #zones .image img.mobile {
    display: none; }
    @media (max-width: 767px) {
      #zones .image img.mobile {
        display: block; } }
  #zones .image#image_amazonie {
    padding-left: 5vw;
    width: 60%; }
    @media (max-width: 767px) {
      #zones .image#image_amazonie {
        padding: 0;
        width: 100%; } }
    #zones .image#image_amazonie img {
      margin-top: -25vw; }
      @media (max-width: 767px) {
        #zones .image#image_amazonie img {
          margin-top: 0; } }
  #zones .image#image_afrique {
    padding-left: 35%;
    width: 100%;
    padding-right: 5%; }
    @media (max-width: 767px) {
      #zones .image#image_afrique {
        padding: 0;
        width: 100%; } }
    #zones .image#image_afrique img {
      margin-top: -25vw; }
      @media (max-width: 767px) {
        #zones .image#image_afrique img {
          margin-top: 0; } }
  #zones .image#image_asie {
    padding-left: 15vw;
    width: 60%; }
    @media (max-width: 767px) {
      #zones .image#image_asie {
        padding: 0;
        width: 100%; } }
    #zones .image#image_asie img {
      margin-top: -25vw; }
      @media (max-width: 767px) {
        #zones .image#image_asie img {
          margin-top: 0; } }

/**
 * @author Maxime Emorine
 */
#forets_disparaissent {
  background-color: #8c6239;
  margin-top: -20px; }
  #forets_disparaissent .content {
    padding: 40px 0;
    background: url("../images/forets_disparaissent.svg");
    background-size: 100% auto; }
    #forets_disparaissent .content .row .tronc {
      padding: 0 100px; }
      @media (min-width: 768px) and (max-width: 991px) {
        #forets_disparaissent .content .row .tronc {
          padding: 0 40px; } }
      @media (max-width: 767px) {
        #forets_disparaissent .content .row .tronc {
          display: none; } }
    #forets_disparaissent .content .row .texte h1 {
      color: white;
      font-size: 100px; }
      @media (min-width: 768px) and (max-width: 991px) {
        #forets_disparaissent .content .row .texte h1 {
          font-size: 76px; } }
      @media (max-width: 767px) {
        #forets_disparaissent .content .row .texte h1 {
          font-size: 20vw; } }

/**
 * @author Gaulthier Volondat
 */
#cause .titre-cause {
  background-color: #754C24;
  width: 100%; }
  #cause .titre-cause h4 {
    color: #fff;
    font-family: 'chaletcomprime';
    text-transform: uppercase;
    font-size: 7vw;
    padding-left: 0.7em;
    padding-top: 0.3em; }
    @media (max-width: 767px) {
      #cause .titre-cause h4 {
        font-size: 14vw; } }
  #cause .titre-cause p {
    color: white;
    padding-left: 0.7em;
    font-size: 3vw;
    padding-bottom: 2vw; }
    @media (max-width: 767px) {
      #cause .titre-cause p {
        font-size: 6vw; } }
#cause .content-cause {
  position: relative;
  background-color: #38ACAE;
  padding-bottom: 13.2em; }
  @media (max-width: 767px) {
    #cause .content-cause {
      display: none; } }
  #cause .content-cause .pourcent-cause {
    position: absolute;
    display: inline-block;
    left: 17em;
    top: 3em; }
    #cause .content-cause .pourcent-cause h1 {
      float: left;
      color: #D0A882;
      font-size: 8vw; }
    #cause .content-cause .pourcent-cause .pourcent1 {
      padding-right: 2.9em; }
    #cause .content-cause .pourcent-cause .pourcent2 {
      font-size: 4vw;
      padding-top: 0.5em;
      padding-right: 1.65em; }
    #cause .content-cause .pourcent-cause .pourcent3 {
      font-size: 4vw;
      padding-top: 0.5em;
      padding-right: 2.1em; }
    #cause .content-cause .pourcent-cause .pourcent4 {
      font-size: 4vw;
      padding-top: 0.5em; }
    #cause .content-cause .pourcent-cause span {
      color: #fff; }
  #cause .content-cause img {
    width: 95%; }
  #cause .content-cause .multi-boules {
    margin-top: -2.2em;
    width: 92%; }
  #cause .content-cause .text-cause {
    color: #fff;
    font-family: 'chaletcomprime';
    text-transform: uppercase;
    font-size: 4vw;
    position: relative;
    background-color: red; }
    #cause .content-cause .text-cause .agri {
      top: -7.15em;
      left: 6.1em;
      position: absolute; }
    #cause .content-cause .text-cause .urbaine {
      top: -7.2em;
      left: 13.4em;
      position: absolute;
      text-align: right;
      line-height: 0.9; }
    #cause .content-cause .text-cause .infra {
      top: -4.6em;
      left: 14.8em;
      position: absolute; }
    #cause .content-cause .text-cause .exploitation {
      top: -3.2em;
      left: 19em;
      position: absolute;
      text-align: right; }
  #cause .content-cause .content-agri {
    width: 33.4%;
    background-color: #2E9999;
    position: absolute;
    top: 10.95em;
    left: 3em;
    z-index: 4;
    padding-bottom: 0.5em; }
    #cause .content-cause .content-agri .picto-agri {
      padding-left: 1em; }
      #cause .content-cause .content-agri .picto-agri img {
        display: inline-block;
        width: 3.5em;
        padding-top: 0.8em; }
      #cause .content-cause .content-agri .picto-agri .picto-bovin {
        padding-right: 1em; }
      #cause .content-cause .content-agri .picto-agri .picto-soja {
        padding-right: 1em; }
      #cause .content-cause .content-agri .picto-agri .picto-palmier {
        padding-right: 1em; }
    #cause .content-cause .content-agri .titre-agri {
      color: #fff;
      font-size: 1vw;
      padding-left: 3em;
      padding-top: 1em;
      position: relative; }
      #cause .content-cause .content-agri .titre-agri h1 {
        display: inline-block; }
      #cause .content-cause .content-agri .titre-agri .titre-bovin {
        padding-right: 2.1em; }
      #cause .content-cause .content-agri .titre-agri .titre-soja {
        padding-right: 1em; }
    #cause .content-cause .content-agri p {
      font-size: 1.5vw;
      color: #fff;
      padding: 1em; }
    #cause .content-cause .content-agri .excla {
      width: 2.5em;
      height: auto;
      position: absolute;
      left: 15em;
      bottom: -0.5em;
      z-index: 30; }
  #cause .content-cause .content-indo {
    width: 95%;
    float: right;
    background-color: #754C24;
    height: auto;
    position: relative;
    z-index: 1;
    margin-top: 0.8em; }
    #cause .content-cause .content-indo h2 {
      color: #fff;
      font-size: 3.5vw;
      padding-left: 0.5em;
      padding-top: 1.5em; }
    #cause .content-cause .content-indo p {
      color: #fff;
      font-size: 1.5vw;
      width: 30em;
      padding: 1em; }
    #cause .content-cause .content-indo img {
      width: 48%;
      right: 0em;
      margin-top: -12.4em;
      z-index: 3;
      position: absolute; }
    #cause .content-cause .content-indo .bloc-indo {
      width: 6.35em;
      right: 0em;
      position: absolute;
      height: 12.4em;
      background-color: #543012;
      top: 0em;
      z-index: 2; }
#cause .content_cause_mobile {
  display: none; }
  @media (max-width: 767px) {
    #cause .content_cause_mobile {
      display: block; } }

/**
 * @author Gaulthier Volondat
 */
#degradation {
  width: 100%; }
  #degradation .titre-degradation {
    background-color: #007A51;
    width: 100%; }
    #degradation .titre-degradation h4 {
      color: #fff;
      font-family: 'chaletcomprime';
      text-transform: uppercase;
      font-size: 7vw;
      padding-left: 0.7em;
      padding-top: 0.2em; }
      @media (max-width: 767px) {
        #degradation .titre-degradation h4 {
          font-size: 14vw; } }
    #degradation .titre-degradation p {
      color: white;
      padding-left: 0.7em;
      font-size: 3vw;
      padding-bottom: 2vw; }
      @media (max-width: 767px) {
        #degradation .titre-degradation p {
          font-size: 6vw; } }
  #degradation .content-degradation {
    background-color: #04af52;
    height: auto;
    width: 100%; }
    @media (max-width: 767px) {
      #degradation .content-degradation {
        display: none; } }
    #degradation .content-degradation .elements {
      display: table;
      width: 100%;
      margin-bottom: 30px; }
      #degradation .content-degradation .elements .element {
        display: table-cell;
        width: 25%;
        vertical-align: bottom;
        padding: 0 50px; }
        @media (min-width: 992px) and (max-width: 1199px) {
          #degradation .content-degradation .elements .element {
            padding: 0 40px; } }
        @media (min-width: 768px) and (max-width: 991px) {
          #degradation .content-degradation .elements .element {
            padding: 0 25px; } }
        @media (max-width: 767px) {
          #degradation .content-degradation .elements .element {
            padding: 0 10px; } }
    #degradation .content-degradation .chiffres {
      display: table;
      width: 100%; }
      @media (max-width: 767px) {
        #degradation .content-degradation .chiffres {
          display: block; } }
      #degradation .content-degradation .chiffres .chiffre {
        color: white;
        display: table-cell;
        width: 25%;
        vertical-align: middle;
        padding: 10px 10px 0; }
        @media (max-width: 767px) {
          #degradation .content-degradation .chiffres .chiffre {
            display: block;
            width: 100%; } }
        #degradation .content-degradation .chiffres .chiffre h2 {
          display: inline-block;
          vertical-align: middle;
          font-size: 80px; }
          @media (min-width: 992px) and (max-width: 1199px) {
            #degradation .content-degradation .chiffres .chiffre h2 {
              font-size: 50px; } }
          @media (min-width: 768px) and (max-width: 991px) {
            #degradation .content-degradation .chiffres .chiffre h2 {
              font-size: 66px; } }
          @media (max-width: 767px) {
            #degradation .content-degradation .chiffres .chiffre h2 {
              font-size: 20vw; } }
        #degradation .content-degradation .chiffres .chiffre p {
          display: inline-block;
          vertical-align: middle;
          font-size: 20px; }
          @media (min-width: 992px) and (max-width: 1199px) {
            #degradation .content-degradation .chiffres .chiffre p {
              font-size: 18px; } }
        #degradation .content-degradation .chiffres .chiffre.first {
          background-color: #009343; }
          @media (max-width: 767px) {
            #degradation .content-degradation .chiffres .chiffre.first {
              background-color: inherit; } }
        #degradation .content-degradation .chiffres .chiffre.last {
          position: relative;
          padding: 0; }
          #degradation .content-degradation .chiffres .chiffre.last .content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background-color: #007950;
            padding: 10px; }
            @media (max-width: 767px) {
              #degradation .content-degradation .chiffres .chiffre.last .content {
                position: static;
                left: initial;
                top: initial; } }
    #degradation .content-degradation .description {
      color: white;
      background-color: #009343;
      padding: 30px 10px; }
      #degradation .content-degradation .description h3 {
        font-size: 40px; }
  #degradation .content-degradation_mobile {
    display: none; }
    @media (max-width: 767px) {
      #degradation .content-degradation_mobile {
        display: block; } }

/**
 * @author Gaulthier Volondat
 */
#pourquoi {
  background-color: #3BACB0;
  position: relative; }
  @media (max-width: 767px) {
    #pourquoi {
      padding: 5vw; } }
  #pourquoi h1 {
    color: #fff;
    font-size: 10vw;
    width: 50%;
    line-height: 0.9;
    display: inline-block;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    padding-right: 0em; }
    @media (max-width: 767px) {
      #pourquoi h1 {
        font-size: 18vw;
        padding: 0;
        width: 80%; } }
  #pourquoi h2 {
    color: #fff;
    font-size: 6vw;
    width: 40%;
    line-height: 0.9;
    display: inline-block;
    padding-left: -10em;
    position: absolute;
    top: 3em; }
    @media (max-width: 767px) {
      #pourquoi h2 {
        font-size: 12vw;
        position: static;
        width: 70%;
        margin-left: 30%;
        margin-top: 5vw;
        top: initial;
        padding: 0; } }

/**
 * @author Gaulthier Volondat
 * @author Maxime Emorine
 */
#climat-carbone .climat img {
  width: 8%;
  display: inline-block;
  padding-left: 1.5em;
  margin-top: -2em;
  margin-left: 0em; }
  @media (max-width: 767px) {
    #climat-carbone .climat img {
      margin-top: -7vw;
      padding: 0;
      padding-left: 2vw;
      width: 13%; } }
#climat-carbone .climat h1 {
  color: #4D4D4D;
  font-size: 7.5vw;
  padding-top: 0.2em;
  padding-left: 0.1em;
  display: inline-block; }
  @media (max-width: 767px) {
    #climat-carbone .climat h1 {
      font-size: 16vw; } }
#climat-carbone .carbone {
  background-color: #4D4D4D; }
  @media (max-width: 767px) {
    #climat-carbone .carbone {
      padding-bottom: 20vw; } }
  #climat-carbone .carbone h1 {
    color: #fff;
    font-size: 7.5vw;
    padding-top: 0.2em;
    padding-left: 0.5em; }
    @media (max-width: 767px) {
      #climat-carbone .carbone h1 {
        font-size: 12vw; } }
#climat-carbone .content {
  background-color: rgba(117, 76, 36, 0.6);
  padding-top: 100px; }
  @media (max-width: 767px) {
    #climat-carbone .content {
      padding-top: 20px; } }
  #climat-carbone .content .container {
    position: relative; }
    @media (max-width: 767px) {
      #climat-carbone .content .container {
        padding: 0; } }
    @media (max-width: 767px) {
      #climat-carbone .content .container > img {
        display: none; } }
  @media (max-width: 767px) {
    #climat-carbone .content .bloc {
      padding: 2vw 4vw; } }
  #climat-carbone .content .bloc h2 {
    color: #4d4d4d;
    font-size: 120px;
    line-height: 0.6em;
    margin-top: 20px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      #climat-carbone .content .bloc h2 {
        font-size: 100px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #climat-carbone .content .bloc h2 {
        font-size: 70px; } }
    @media (max-width: 767px) {
      #climat-carbone .content .bloc h2 {
        color: white;
        font-size: 30vw;
        line-height: 0.6em; } }
    #climat-carbone .content .bloc h2 span {
      font-size: 0.8em; }
  #climat-carbone .content .bloc h3 {
    font-size: 60px;
    color: white;
    margin-top: 10px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      #climat-carbone .content .bloc h3 {
        font-size: 50px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #climat-carbone .content .bloc h3 {
        font-size: 40px; } }
    @media (max-width: 767px) {
      #climat-carbone .content .bloc h3 {
        font-size: 10vw; } }
  #climat-carbone .content .bloc p {
    font-size: 24px;
    color: white; }
    @media (min-width: 768px) and (max-width: 991px) {
      #climat-carbone .content .bloc p {
        font-size: 18px; } }
    @media (max-width: 767px) {
      #climat-carbone .content .bloc p {
        font-size: 7vw; } }
  #climat-carbone .content .bloc.bloc1 {
    position: absolute;
    width: 20%;
    left: 31%;
    top: 0%; }
    @media (max-width: 767px) {
      #climat-carbone .content .bloc.bloc1 {
        position: relative;
        left: initial;
        top: initial;
        width: 100%; } }
    #climat-carbone .content .bloc.bloc1 img.mobile {
      display: none; }
      @media (max-width: 767px) {
        #climat-carbone .content .bloc.bloc1 img.mobile {
          display: block;
          position: absolute;
          width: 40%;
          right: 5%;
          top: -40%; } }
    @media (max-width: 767px) {
      #climat-carbone .content .bloc.bloc1 .bottom {
        position: absolute;
        width: 45%;
        right: 5%;
        top: 50%; } }
  #climat-carbone .content .bloc.bloc2 {
    position: absolute;
    width: 27%;
    left: 18%;
    top: 65%; }
    @media (min-width: 992px) and (max-width: 1199px) {
      #climat-carbone .content .bloc.bloc2 {
        width: 35%;
        left: 10%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #climat-carbone .content .bloc.bloc2 {
        left: 0;
        width: 40%; } }
    @media (max-width: 767px) {
      #climat-carbone .content .bloc.bloc2 {
        position: static;
        left: initial;
        top: initial;
        width: 100%;
        margin-top: 20px;
        background-color: rgba(117, 76, 36, 0.62); } }
  #climat-carbone .content .bloc.bloc3 {
    position: absolute;
    width: 20%;
    left: 53%;
    top: 0%;
    text-align: right; }
    @media (max-width: 767px) {
      #climat-carbone .content .bloc.bloc3 {
        width: 100%;
        left: initial;
        top: initial;
        position: relative;
        text-align: left;
        margin-top: -1px; } }
    #climat-carbone .content .bloc.bloc3 img.mobile {
      display: none; }
      @media (max-width: 767px) {
        #climat-carbone .content .bloc.bloc3 img.mobile {
          display: block;
          position: absolute;
          width: 40%;
          right: 5%;
          top: 10%; } }
  #climat-carbone .content .bloc.bloc4 {
    position: absolute;
    width: 40%;
    left: 60%;
    top: 65%;
    color: white; }
    #climat-carbone .content .bloc.bloc4 span {
      text-transform: uppercase;
      font-family: chaletcomprime;
      font-size: 60px;
      color: white;
      margin-top: 10px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #climat-carbone .content .bloc.bloc4 span {
          font-size: 50px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        #climat-carbone .content .bloc.bloc4 span {
          font-size: 40px; } }
      @media (max-width: 767px) {
        #climat-carbone .content .bloc.bloc4 span {
          font-size: 10vw; } }
    #climat-carbone .content .bloc.bloc4 img {
      width: 150px;
      margin-top: 10px; }
      @media (min-width: 768px) and (max-width: 991px) {
        #climat-carbone .content .bloc.bloc4 img {
          margin-top: 2px;
          width: 100px; } }
      @media (max-width: 767px) {
        #climat-carbone .content .bloc.bloc4 img {
          width: 50vw;
          display: block;
          margin: 0 auto; } }
    @media (max-width: 767px) {
      #climat-carbone .content .bloc.bloc4 {
        width: 100%;
        left: initial;
        top: initial;
        position: static;
        background-color: rgba(117, 76, 36, 0.62);
        font-size: 5vw; } }

/**
 * @author Maxime Emorine
 */
#biodiversite {
  background-color: #009343;
  position: relative; }
  @media (max-width: 767px) {
    #biodiversite {
      padding-bottom: 90vw; } }
  #biodiversite .container-fluid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5vw;
    color: white; }
    #biodiversite .container-fluid .chiffre {
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      padding-top: 1vw;
      position: relative;
      z-index: 100;
      margin-right: 2vw;
      background-color: #007950; }
      @media (max-width: 767px) {
        #biodiversite .container-fluid .chiffre {
          width: 14vw;
          height: 14vw;
          padding-top: 3vw;
          margin-top: 4vw; } }
      #biodiversite .container-fluid .chiffre span {
        color: white;
        font-size: 6vw;
        font-family: chaletcomprime; }
        @media (max-width: 767px) {
          #biodiversite .container-fluid .chiffre span {
            font-size: 10vw; } }
    #biodiversite .container-fluid .intro h1 {
      font-size: 10vw;
      line-height: 0.9em; }
      @media (max-width: 767px) {
        #biodiversite .container-fluid .intro h1 {
          font-size: 12vw; } }
    #biodiversite .container-fluid .intro p {
      width: 70%;
      font-size: 4vw;
      line-height: 0.8em; }
      @media (max-width: 767px) {
        #biodiversite .container-fluid .intro p {
          font-size: 8vw; } }
    @media (max-width: 767px) {
      #biodiversite .container-fluid .main {
        margin-top: 5vw; } }
    #biodiversite .container-fluid .main h2 {
      font-size: 35vw;
      text-align: center;
      line-height: 0.7em; }
      @media (max-width: 767px) {
        #biodiversite .container-fluid .main h2 {
          font-size: 20vw;
          line-height: 0.8em;
          text-align: left; } }
    #biodiversite .container-fluid .main h4 {
      font-size: 4vw;
      line-height: 0.8em; }
      @media (max-width: 767px) {
        #biodiversite .container-fluid .main h4 {
          font-size: 8vw;
          margin-bottom: 4vw; } }
    #biodiversite .container-fluid .main p {
      font-size: 1.5vw; }
      @media (max-width: 767px) {
        #biodiversite .container-fluid .main p {
          font-size: 6vw; } }

#catastrophes_naturelles {
  background-color: #009343;
  position: relative;
  z-index: 2; }
  @media (max-width: 767px) {
    #catastrophes_naturelles {
      padding-top: 60vw;
      background-color: #9cb3bb; } }
  #catastrophes_naturelles img {
    margin-top: -15vw; }
    @media (max-width: 767px) {
      #catastrophes_naturelles img {
        margin-top: 0vw; } }
  #catastrophes_naturelles .container-fluid {
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 5vw;
    color: white; }
    @media (max-width: 767px) {
      #catastrophes_naturelles .container-fluid {
        bottom: 2%; } }
    #catastrophes_naturelles .container-fluid h1 {
      font-size: 10vw;
      line-height: 0.9em; }
      @media (max-width: 767px) {
        #catastrophes_naturelles .container-fluid h1 {
          font-size: 12vw; } }
    #catastrophes_naturelles .container-fluid p {
      font-size: 2vw;
      padding-left: 5vw;
      margin-top: 5vw; }
      @media (max-width: 767px) {
        #catastrophes_naturelles .container-fluid p {
          font-size: 6vw;
          margin-top: 1vw; } }
    #catastrophes_naturelles .container-fluid .chiffre {
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      padding-top: 1vw;
      position: relative;
      z-index: 100;
      margin-right: 2vw;
      background-color: white; }
      @media (max-width: 767px) {
        #catastrophes_naturelles .container-fluid .chiffre {
          width: 14vw;
          height: 14vw;
          padding-top: 3vw; } }
      #catastrophes_naturelles .container-fluid .chiffre span {
        color: #488cc7;
        font-size: 6vw;
        font-family: chaletcomprime; }
        @media (max-width: 767px) {
          #catastrophes_naturelles .container-fluid .chiffre span {
            font-size: 10vw; } }

#eau {
  background-color: #8c6239;
  position: relative;
  z-index: 3; }
  @media (max-width: 767px) {
    #eau {
      padding-bottom: 10vw; } }
  #eau .container-fluid {
    padding: 0 2vw 0 5vw;
    color: white; }
    @media (max-width: 767px) {
      #eau .container-fluid {
        padding: 0; }
        #eau .container-fluid .row {
          margin: 0; } }
    #eau .container-fluid .content {
      padding: 5vw 0; }
      @media (max-width: 767px) {
        #eau .container-fluid .content {
          background-color: #7fd2eb;
          padding: 4vw;
          min-height: 155vw;
          padding-bottom: 8vw; } }
    #eau .container-fluid h1 {
      font-size: 10vw;
      line-height: 0.9em; }
      @media (max-width: 767px) {
        #eau .container-fluid h1 {
          font-size: 14vw; } }
    #eau .container-fluid p {
      font-size: 1.5vw; }
      @media (max-width: 767px) {
        #eau .container-fluid p {
          font-size: 6vw; } }
    @media (max-width: 767px) {
      #eau .container-fluid .image {
        clear: both; } }
    #eau .container-fluid .image img {
      margin-top: -4vw; }
      @media (max-width: 767px) {
        #eau .container-fluid .image img {
          margin-top: -8vw; } }
    #eau .container-fluid .chiffre {
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      padding-top: 1vw;
      position: relative;
      z-index: 100;
      margin-right: 2vw;
      background-color: white; }
      @media (max-width: 767px) {
        #eau .container-fluid .chiffre {
          width: 14vw;
          height: 14vw;
          padding-top: 3vw; } }
      #eau .container-fluid .chiffre span {
        color: #8c6239;
        font-size: 6vw;
        font-family: chaletcomprime; }
        @media (max-width: 767px) {
          #eau .container-fluid .chiffre span {
            font-size: 10vw;
            color: #7fd2eb; } }

#comment_eviter {
  background: linear-gradient(to bottom, #007950 0%, #007950 60%, #efeacc 60%, #efeacc 100%); }
  @media (max-width: 767px) {
    #comment_eviter {
      background: linear-gradient(to bottom, #007950 0%, #007950 80%, #efeacc 80%, #efeacc 100%); } }
  #comment_eviter .container .image {
    padding: 0 40px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #comment_eviter .container .image {
        padding: 0 20px; } }
    @media (max-width: 767px) {
      #comment_eviter .container .image {
        padding: 0; } }
  #comment_eviter .container .texte {
    padding-top: 30px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #comment_eviter .container .texte {
        padding-top: 10px; } }
    @media (max-width: 767px) {
      #comment_eviter .container .texte {
        padding-top: 2vw; } }
    #comment_eviter .container .texte h1 {
      color: white;
      font-size: 130px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #comment_eviter .container .texte h1 {
          font-size: 110px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        #comment_eviter .container .texte h1 {
          font-size: 80px; } }
      @media (max-width: 767px) {
        #comment_eviter .container .texte h1 {
          font-size: 14vw; } }

#contre_deforestation {
  padding: 30px 0; }
  #contre_deforestation .container .row h1 {
    color: #007950;
    font-size: 85px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      #contre_deforestation .container .row h1 {
        font-size: 70px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #contre_deforestation .container .row h1 {
        font-size: 80px; } }
    @media (max-width: 767px) {
      #contre_deforestation .container .row h1 {
        font-size: 12vw; } }
  #contre_deforestation .container .row p {
    font-size: 24px;
    color: #4d4d4d; }
    @media (max-width: 767px) {
      #contre_deforestation .container .row p {
        font-size: 6vw; } }

/**
 * @author Maxime Emorine
 */
#declaration_ny .heading {
  background-color: #009343;
  padding: 25px 0 10px; }
  #declaration_ny .heading .container h1 {
    font-size: 80px;
    color: white; }
    @media (min-width: 768px) and (max-width: 991px) {
      #declaration_ny .heading .container h1 {
        font-size: 55px; } }
#declaration_ny .content {
  background-color: #44bb53;
  padding: 30px 0 60px;
  color: white; }
  #declaration_ny .content p {
    font-size: 22px; }
    @media (min-width: 768px) and (max-width: 991px) {
      #declaration_ny .content p {
        font-size: 20px; } }
  #declaration_ny .content h2 {
    font-size: 80px;
    margin-top: 20px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      #declaration_ny .content h2 {
        font-size: 70px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #declaration_ny .content h2 {
        font-size: 50px; } }
  #declaration_ny .content .objectifs {
    margin-top: 30px;
    width: 100%;
    display: table; }
    @media (max-width: 767px) {
      #declaration_ny .content .objectifs {
        display: block; } }
    #declaration_ny .content .objectifs .bloc {
      width: 33.333%;
      padding: 4vw;
      display: table-cell;
      position: relative; }
      @media (max-width: 767px) {
        #declaration_ny .content .objectifs .bloc {
          display: block;
          width: 100%;
          padding: 12vw 6vw;
          margin-top: 10vw; } }
      #declaration_ny .content .objectifs .bloc h3 {
        text-align: center;
        font-size: 10vw; }
        @media (max-width: 767px) {
          #declaration_ny .content .objectifs .bloc h3 {
            font-size: 30vw;
            text-align: left; } }
      #declaration_ny .content .objectifs .bloc p {
        font-size: 2vw; }
        @media (max-width: 767px) {
          #declaration_ny .content .objectifs .bloc p {
            font-size: 6vw; } }
      #declaration_ny .content .objectifs .bloc > img {
        position: absolute;
        width: 20%;
        bottom: -10%;
        left: 40%; }
        @media (max-width: 767px) {
          #declaration_ny .content .objectifs .bloc > img {
            right: 10%;
            top: 20%;
            left: initial;
            bottom: initial; } }
      #declaration_ny .content .objectifs .bloc:before {
        width: 5vw;
        height: 5vw;
        background-color: white;
        color: #007950;
        text-align: center;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        position: absolute;
        top: -3vw;
        left: 50%;
        margin-left: -2.5vw;
        font-size: 4vw;
        font-family: chaletcomprime;
        line-height: 1.4em; }
        @media (max-width: 767px) {
          #declaration_ny .content .objectifs .bloc:before {
            width: 15vw;
            height: 15vw;
            margin-left: -7.5vw;
            font-size: 12vw;
            top: -6vw; } }
      #declaration_ny .content .objectifs .bloc.bloc1 {
        background-color: rgba(0, 121, 80, 0.33); }
        #declaration_ny .content .objectifs .bloc.bloc1:before {
          content: "1"; }
      #declaration_ny .content .objectifs .bloc.bloc2 {
        border-left: 2px solid #44bb53;
        border-right: 2px solid #44bb53;
        background-color: rgba(0, 121, 80, 0.5); }
        #declaration_ny .content .objectifs .bloc.bloc2:before {
          content: "2"; }
      #declaration_ny .content .objectifs .bloc.bloc3 {
        background-color: rgba(0, 121, 80, 0.7); }
        #declaration_ny .content .objectifs .bloc.bloc3:before {
          content: "3"; }

#muraille_chine .heading {
  background-color: #d9c9a8;
  padding: 25px 0 10px;
  color: #754c24; }
  #muraille_chine .heading .container h1 {
    font-size: 80px;
    color: white; }
    @media (min-width: 768px) and (max-width: 991px) {
      #muraille_chine .heading .container h1 {
        font-size: 55px; } }
#muraille_chine .content {
  background-color: #efeacc; }
  @media (max-width: 767px) {
    #muraille_chine .content .container {
      padding: 0; } }
  #muraille_chine .content .left {
    color: #754c24;
    float: left;
    width: 35%;
    padding: 15px 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      #muraille_chine .content .left {
        width: 100%;
        float: none;
        margin-bottom: 30px; } }
    @media (max-width: 767px) {
      #muraille_chine .content .left {
        width: 100%;
        float: none;
        margin-bottom: 30px;
        padding: 3vw; } }
    #muraille_chine .content .left p {
      font-size: 24px; }
  #muraille_chine .content .right {
    width: 65%;
    float: right;
    position: relative; }
    @media (min-width: 768px) and (max-width: 991px) {
      #muraille_chine .content .right {
        width: 100%;
        float: none; } }
    @media (max-width: 767px) {
      #muraille_chine .content .right {
        width: 100%;
        float: none; } }
    #muraille_chine .content .right > img {
      margin-top: -1px; }
      @media (max-width: 767px) {
        #muraille_chine .content .right > img.desktop {
          display: none; } }
      #muraille_chine .content .right > img.mobile {
        display: none; }
        @media (max-width: 767px) {
          #muraille_chine .content .right > img.mobile {
            display: block; } }
    #muraille_chine .content .right .description {
      position: absolute;
      bottom: 3%;
      left: 3%;
      color: #009343;
      font-size: 24px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #muraille_chine .content .right .description {
          font-size: 22px;
          bottom: 0; } }
      @media (max-width: 767px) {
        #muraille_chine .content .right .description {
          font-size: 5vw; } }
      #muraille_chine .content .right .description h2 {
        font-size: 200px; }
        @media (min-width: 992px) and (max-width: 1199px) {
          #muraille_chine .content .right .description h2 {
            font-size: 160px; } }
        @media (max-width: 767px) {
          #muraille_chine .content .right .description h2 {
            font-size: 45vw; } }
      #muraille_chine .content .right .description p {
        padding-left: 10px; }
      #muraille_chine .content .right .description p.bottom {
        margin-top: -40px; }
        @media (max-width: 767px) {
          #muraille_chine .content .right .description p.bottom {
            margin-top: -8vw; } }
    #muraille_chine .content .right .objectif {
      position: absolute;
      top: 30%;
      right: 8%;
      width: 20%; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #muraille_chine .content .right .objectif {
          width: 30%; } }
      @media (max-width: 767px) {
        #muraille_chine .content .right .objectif {
          width: 30%;
          right: 10%;
          top: 30%; } }
      #muraille_chine .content .right .objectif .bloc1 {
        background-color: #d9c9a8;
        color: #754c24;
        padding: 10px; }
        #muraille_chine .content .right .objectif .bloc1 h3 {
          font-size: 40px; }
          @media (max-width: 767px) {
            #muraille_chine .content .right .objectif .bloc1 h3 {
              font-size: 8vw;
              padding: 1vw;
              padding-bottom: 0; } }
      #muraille_chine .content .right .objectif .bloc2 {
        background-color: white;
        color: #754c24;
        padding: 10px; }
        @media (max-width: 767px) {
          #muraille_chine .content .right .objectif .bloc2 {
            font-size: 5vw;
            padding: 1vw; } }

#green_wall .heading {
  background-color: #754c24;
  padding: 25px 0 10px;
  color: white; }
  #green_wall .heading .container h1 {
    font-size: 80px;
    color: white; }
    @media (min-width: 768px) and (max-width: 991px) {
      #green_wall .heading .container h1 {
        font-size: 55px; } }
#green_wall .content {
  background-color: #8c6239;
  color: white;
  padding: 20px 0; }
  #green_wall .content .left {
    color: white;
    font-size: 24px;
    margin-bottom: 30px; }
  #green_wall .content .right .row {
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      #green_wall .content .right .row {
        margin-bottom: 0px; } }
    @media (max-width: 767px) {
      #green_wall .content .right .row img {
        margin-bottom: 40px; } }

/**
 * @author Maxime Emorine
 */
#intro_qqf {
  padding-top: 40px; }
  #intro_qqf h1 {
    color: #d9c9a8;
    font-size: 10vw; }
    @media (min-width: 768px) and (max-width: 991px) {
      #intro_qqf h1 {
        font-size: 12vw; } }
    @media (max-width: 767px) {
      #intro_qqf h1 {
        font-size: 18vw; } }

#qqf {
  background: linear-gradient(to bottom, white 0%, white 10%, #efeacc 10%, #efeacc 100%); }
  #qqf img {
    display: block;
    margin: 0 auto;
    width: 80%;
    position: relative;
    z-index: 100; }

.qqf_picto {
  width: 7%;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .qqf_picto {
      width: 15%; } }
  .qqf_picto#picto_plante {
    margin-top: -5vw; }

.qqf_element {
  color: white;
  padding: 20px 0; }
  .qqf_element .left {
    float: left;
    width: 35%;
    position: relative; }
    @media (max-width: 767px) {
      .qqf_element .left {
        width: 100%;
        float: none; } }
    .qqf_element .left h1 {
      font-size: 74px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .qqf_element .left h1 {
          font-size: 64px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .qqf_element .left h1 {
          font-size: 55px; } }
      @media (max-width: 767px) {
        .qqf_element .left h1 {
          font-size: 50px; } }
  .qqf_element .right {
    float: right;
    width: 60%; }
    @media (max-width: 767px) {
      .qqf_element .right {
        width: 100%;
        float: none; } }
    .qqf_element .right p {
      font-size: 28px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .qqf_element .right p {
          font-size: 25px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .qqf_element .right p {
          font-size: 22px; } }
      @media (max-width: 767px) {
        .qqf_element .right p {
          font-size: 22px; } }
  .qqf_element#surveille {
    background-color: #44bb53; }
    .qqf_element#surveille .left img {
      width: 50%;
      display: block;
      float: right; }
      @media (min-width: 1200px) {
        .qqf_element#surveille .left img {
          margin-top: -80px; } }
      @media (max-width: 767px) {
        .qqf_element#surveille .left img {
          width: 30%;
          float: none;
          margin-top: 20px; } }
    .qqf_element#surveille .voir {
      color: white;
      border: 2px solid white;
      background-color: #28a534; }
      .qqf_element#surveille .voir:hover {
        color: #28a534;
        background-color: white; }
  .qqf_element#papiers {
    background-color: #d9c9a8;
    color: #754c24; }
    @media (max-width: 767px) {
      .qqf_element#papiers .left img {
        width: 50%; } }
  .qqf_element#recycle {
    background-color: #3bacb0; }
    .qqf_element#recycle .left img {
      position: absolute;
      width: 80%;
      left: 0;
      top: 100%; }
      @media (max-width: 767px) {
        .qqf_element#recycle .left img {
          position: static;
          top: initial;
          left: initial;
          width: 30%; } }
    .qqf_element#recycle .voir {
      color: white;
      border: 2px solid white;
      background-color: #289999;
      margin-bottom: 15px; }
      .qqf_element#recycle .voir:hover {
        color: #289999;
        background-color: white; }
  .qqf_element#palme {
    background-color: #8c6239; }
    .qqf_element#palme .left img {
      position: absolute;
      width: 80%;
      left: 0;
      top: 100%; }
      @media (max-width: 767px) {
        .qqf_element#palme .left img {
          position: static;
          top: initial;
          left: initial;
          width: 30%; } }
    .qqf_element#palme .voir {
      color: white;
      border: 2px solid white;
      background-color: #8c6239; }
      .qqf_element#palme .voir:hover {
        color: #8c6239;
        background-color: white; }
  .qqf_element#viande {
    background-color: #007950;
    position: relative; }
    .qqf_element#viande img {
      position: absolute;
      top: 45%;
      left: 0;
      width: 25%; }
      @media (max-width: 767px) {
        .qqf_element#viande img {
          display: none; } }
    .qqf_element#viande .left img {
      position: absolute;
      width: 80%;
      left: 0;
      top: 100%; }
  .qqf_element#ecosia {
    background-color: #45869c; }
    .qqf_element#ecosia .row {
      clear: both;
      padding-top: 20px; }
    .qqf_element#ecosia .voir {
      color: white;
      border: 2px solid white;
      background-color: #45869c; }
      .qqf_element#ecosia .voir:hover {
        color: #45869c;
        background-color: white; }
  .qqf_element#stop {
    color: #45869c;
    background-color: #7bd5ef;
    position: relative; }
    @media (max-width: 767px) {
      .qqf_element#stop {
        padding-bottom: 30vw; } }
    .qqf_element#stop > img {
      position: absolute;
      width: 50%;
      bottom: 0;
      right: 0; }
      @media (max-width: 767px) {
        .qqf_element#stop > img {
          width: 80%; } }
    .qqf_element#stop .voir {
      color: #45869c;
      border: 2px solid white;
      background-color: #5dc3e0;
      position: relative;
      z-index: 100; }
      .qqf_element#stop .voir:hover {
        color: #5dc3e0;
        background-color: white; }
  .qqf_element#plante {
    background-color: #8c6239;
    padding-bottom: 100px;
    position: relative; }
    @media (max-width: 767px) {
      .qqf_element#plante {
        padding-bottom: 30vw; } }
    .qqf_element#plante .right {
      position: relative;
      z-index: 10; }
    .qqf_element#plante .left {
      z-index: 10; }
    .qqf_element#plante > img {
      position: absolute;
      width: 50%;
      bottom: 0;
      left: 0;
      z-index: 1; }
      @media (max-width: 767px) {
        .qqf_element#plante > img {
          width: 90%; } }
    .qqf_element#plante .voir {
      color: white;
      border: 2px solid white;
      background-color: #71481f; }
      .qqf_element#plante .voir:hover {
        color: #71481f;
        background-color: white; }

#sources {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 60px 15vw;
  background-color: #4d4d4d;
  color: white; }
  #sources p a:hover {
    color: #dfdfdf; }

/*# sourceMappingURL=style.css.map */
