// On défini les variables

// Couleurs
$primary-color: #754c24;
$secondary-color: #8c6239;
$third-color: #6ea1b2;
$fourth-color: #fbfaf3;
$text-color: #754c24;

// Polices
$text-font: 400 2vw circular;


// Mixins
@mixin bg_cover(){
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin transition($element, $time){
	-webkit-transition: $element $time;
	-moz-transition: $element $time;
	-ms-transition: $element $time;
	transition: $element $time;
}


// Import du reset CSS
@import 'reset';
@import 'grid';
@import 'mediaqueries';
@import 'fonts';

@import 'general';
@import 'content';
